OldProvisions/Node-red/Security/Security.json
[{"id":"df9337bc.b187f8","type":"tab","label":"AES","disabled":false,"info":""},{"id":"6158ba27.86986c","type":"tab","label":"RSA","disabled":false,"info":""},{"id":"f10f13e7.0173d8","type":"tab","label":"RSA2","disabled":false,"info":""},{"id":"99ed2199.f42dd","type":"tab","label":"Encoding","disabled":false,"info":""},{"id":"856ce341.45dad","type":"tab","label":"xsd","disabled":false,"info":""},{"id":"90ec5700.fb9a5","type":"tab","label":"xml-crypto","disabled":false,"info":""},{"id":"1e3d8908.b90af7","type":"tab","label":"JWT","disabled":false,"info":""},{"id":"8f2f450c.94ff48","type":"tab","label":"Prepare Report","disabled":false,"info":""},{"id":"3f4fcc7a.8cf3bc","type":"tab","label":"Bearer token","disabled":false,"info":""},{"id":"5eccde15.385308","type":"tab","label":"Basic Authentication","disabled":false,"info":""},{"id":"c8dee36f.a2cc","type":"tab","label":"Bearer Authentication","disabled":false,"info":""},{"id":"f87fa890.ddb298","type":"tab","label":"JSONWebTokens Authenticating","disabled":false,"info":""},{"id":"a80bbac.8c12748","type":"tab","label":"JSONWebTokens Encoding / Decoding ","disabled":false,"info":""},{"id":"8713357d.bbc24","type":"tab","label":"HTTP Basic/Digest Auth","disabled":false,"info":""},{"id":"cf9784ce.de7658","type":"tab","label":"contrib-openid","disabled":false,"info":""},{"id":"86c850e8.1a7f","type":"tab","label":"contrib-oauth2","disabled":false,"info":""},{"id":"a0b71c89.393718","type":"tab","label":"contrib-auth-oidc","disabled":false,"info":""},{"id":"29a4dd0a.40d0c2","type":"tab","label":"TLS/SSL","disabled":false,"info":""},{"id":"568ef2fa.6a0ecc","type":"JsonWebToken_config","z":"","name":"Test1","secret":"password"},{"id":"8c7094fc.14c18","type":"JsonWebToken_config","z":"","name":"Test1","secret":"password"},{"id":"3eb5423.243b83e","type":"node-red-contrib-httpauthcred","z":"","name":"Test","authType":"Basic","realm":"test","username":"username","password":"password","hashed":false},{"id":"7fca0472.860154","type":"function","z":"df9337bc.b187f8","name":"aes encrypt","func":"const crypto =  global.get('crypto');\nvar mykey = crypto.createCipher('aes-128-cbc', msg.payload.passphrase);\nconsole.log('mykey: ' + mykey);\nvar mystr = mykey.update(msg.payload.phrase, 'utf8', 'hex')\nmystr += mykey.final('hex');\nconsole.log('mystr: ' + mystr);\nmsg.payload = mystr;\nglobal.set('encrypted', msg.payload);\nnode.send(msg);\n","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["c1448791.58d548"]]},{"id":"c1448791.58d548","type":"debug","z":"df9337bc.b187f8","name":"aes encrypt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":100,"wires":[]},{"id":"8025f407.d0ed38","type":"function","z":"df9337bc.b187f8","name":"aes decrypt","func":"const crypto =  global.get('crypto');\nvar mykey = crypto.createDecipher('aes-128-cbc', msg.payload.passphrase);\nvar encrypted = global.get('encrypted');\nvar mystr = mykey.update(encrypted, 'hex', 'utf8')\nmystr += mykey.final('utf8');\nmsg.payload = mystr;\nnode.send(msg);","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["efdb8174.ea2f3"]]},{"id":"efdb8174.ea2f3","type":"debug","z":"df9337bc.b187f8","name":"aes decrypt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":160,"wires":[]},{"id":"69cbeeb1.693d38","type":"inject","z":"df9337bc.b187f8","name":"Data","topic":"","payload":"{\"passphrase\":\"password\",\"phrase\":\"<?xml version=\\\"1.0\\\" encoding=\\\"utf-8\\\"?><Report><Name>str1234</Name><Number>1234</Number><Date>2012-12-13</Date><Boolean>true</Boolean></Report>\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["7fca0472.860154"]]},{"id":"446a931c.04a81c","type":"inject","z":"df9337bc.b187f8","name":"Data","topic":"","payload":"{\"passphrase\":\"password\",\"phrase\":\"<?xml version=\\\"1.0\\\" encoding=\\\"utf-8\\\"?><Report><Name>str1234</Name><Number>1234</Number><Date>2012-12-13</Date><Boolean>true</Boolean></Report>\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["8025f407.d0ed38"]]},{"id":"7a9577ac.9c7338","type":"function","z":"6158ba27.86986c","name":"rsa generate keypair","func":" const {generateKeyPair} = global.get('crypto');\n            generateKeyPair('rsa', \n            {\n                modulusLength: parseInt(msg.payload.bitlength),\n                publicKeyEncoding:\n                {\n                    type: \"spki\",\n                    format: \"pem\"\n                },\n                privateKeyEncoding: \n                {\n                    type: 'pkcs8',\n                    format: 'pem',\n                    cipher: 'aes-256-cbc'\n//                    passphrase: ''\n//                    passphrase: msg.payload.passphrase                  \n                }\n            }, function(err, publicKey, privateKey)\n            {\n                global.set('publicKey', publicKey.toString(\"utf8\"));\n                global.set('privateKey', privateKey.toString(\"utf8\"));\n//                global.set('passphrase', msg.payload.passphrase.toString(\"utf8\"));\n                msg.payload = {privateKey: privateKey, publicKey: publicKey};\n                msg.topic = 'keypair';\n                node.send(msg);\n            });","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["2203afb9.b15088"]]},{"id":"aee621e2.311ca8","type":"inject","z":"6158ba27.86986c","name":"password","topic":"","payload":"{\"passphrase\":\"password\",\"bitlength\":2048}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":100,"wires":[["7a9577ac.9c7338"]]},{"id":"2203afb9.b15088","type":"debug","z":"6158ba27.86986c","name":"rsa generate keypair","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":100,"wires":[]},{"id":"7f8efa1e.79cb5c","type":"function","z":"6158ba27.86986c","name":"rsa encrypt","func":"const crypto =  global.get('crypto');\nlet keyData = global.get('publicKey');\n//console.log('keyData: ' + keyData);\n\n\nif(typeof msg.payload == \"object\")\n{\n    msg.payload = JSON.stringify(msg.payload);\n}\n\nlet buffer = Buffer.from(msg.payload, 'utf8')\nlet encrypted = crypto.publicEncrypt(keyData, buffer);\n\nmsg.payload = encrypted.toString('base64');\nglobal.set('encrypted', msg.payload);\nnode.send(msg);","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["832c77be.c5acb"]]},{"id":"832c77be.c5acb","type":"debug","z":"6158ba27.86986c","name":"rsa encrypt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":160,"wires":[]},{"id":"d4f03a2f.d6b918","type":"function","z":"6158ba27.86986c","name":"rsa decrypt","func":"const crypto =  global.get('crypto');\nlet keyData =  global.get('privateKey'); \nlet passphrase  =  global.get('passphrase'); \nlet encrypted  =  global.get('encrypted'); \nlet buffer = Buffer.from(encrypted, 'base64')\nlet decrypted = crypto.privateDecrypt({key: keyData, passphrase}, buffer);\nmsg.payload = decrypted.toString('utf8');\nlet pl = msg.payload;\ntry \n{\n    pl = JSON.parse(pl);\n    msg.payload = pl;\n} \ncatch (e) \n{\n    //no json I guess\n}\nglobal.set('decrypted', msg.payload);\nnode.send(msg);","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["e45ef9a3.b25098"]]},{"id":"b012a883.845d","type":"inject","z":"6158ba27.86986c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":220,"wires":[["d4f03a2f.d6b918"]]},{"id":"e45ef9a3.b25098","type":"debug","z":"6158ba27.86986c","name":"rsa decrypt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":220,"wires":[]},{"id":"668c78fc.92d4c","type":"inject","z":"6158ba27.86986c","name":"<Report>","topic":"","payload":"<?xml version=\"1.0\" encoding=\"utf-8\"?><Report><Name>str1234</Name><Number>1234</Number><Date>2012-12-13</Date><Boolean>true</Boolean></Report>","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":160,"wires":[["7f8efa1e.79cb5c"]]},{"id":"ddd36f60.90072","type":"inject","z":"99ed2199.f42dd","name":"<Report>","topic":"","payload":"<?xml version=\"1.0\" encoding=\"utf-8\"?><Report><Name>str1234</Name><Number>1234</Number><Date>2012-12-13</Date><Boolean>true</Boolean></Report>","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["823d3bdc.16a3f8","e7adab78.18f6d8","34c4848.d12317c"]]},{"id":"823d3bdc.16a3f8","type":"digest","z":"99ed2199.f42dd","name":"","algorithm":"MD5","x":330,"y":120,"wires":[["a40dc893.bb301"]]},{"id":"f474130a.898eb","type":"debug","z":"99ed2199.f42dd","name":"$Base64encode","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":280,"wires":[]},{"id":"a40dc893.bb301","type":"debug","z":"99ed2199.f42dd","name":"MD5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":120,"wires":[]},{"id":"34ecf55d.39f242","type":"debug","z":"99ed2199.f42dd","name":"SHA256","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":200,"wires":[]},{"id":"e7adab78.18f6d8","type":"digest","z":"99ed2199.f42dd","name":"","algorithm":"SHA256","x":330,"y":200,"wires":[["34ecf55d.39f242"]]},{"id":"34c4848.d12317c","type":"change","z":"99ed2199.f42dd","name":"$Base64encode","rules":[{"t":"set","p":"payload","pt":"msg","to":"$base64encode(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":280,"wires":[["f474130a.898eb","7a051596.4f5e7c","2f5b974b.e86578"]]},{"id":"7a051596.4f5e7c","type":"change","z":"99ed2199.f42dd","name":"$Base64decode","rules":[{"t":"set","p":"payload","pt":"msg","to":"$base64decode(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":360,"wires":[["911fa5ad.eb728"]]},{"id":"911fa5ad.eb728","type":"debug","z":"99ed2199.f42dd","name":"$base64decode","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":360,"wires":[]},{"id":"6be05d53.3b9f2c","type":"debug","z":"99ed2199.f42dd","name":"rsa encrypt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":440,"wires":[]},{"id":"2f5b974b.e86578","type":"function","z":"99ed2199.f42dd","name":"rsa encrypt","func":"const crypto =  global.get('crypto');\nlet keyData = global.get('publicKey');\n//console.log('keyData: ' + keyData);\n\n\nif(typeof msg.payload == \"object\")\n{\n    msg.payload = JSON.stringify(msg.payload);\n}\n\nlet buffer = Buffer.from(msg.payload, 'utf8')\nlet encrypted = crypto.publicEncrypt(keyData, buffer);\n\nmsg.payload = encrypted.toString('base64');\nglobal.set('encrypted', msg.payload);\nnode.send(msg);","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["6be05d53.3b9f2c","5305bfdd.d4a8e"]]},{"id":"5b81cdbf.a76a64","type":"debug","z":"99ed2199.f42dd","name":"rsa decrypt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":540,"wires":[]},{"id":"5305bfdd.d4a8e","type":"function","z":"99ed2199.f42dd","name":"rsa decrypt","func":"const crypto =  global.get('crypto');\nlet keyData =  global.get('privateKey'); \nlet passphrase  =  global.get('passphrase'); \nlet encrypted  =  global.get('encrypted'); \nlet buffer = Buffer.from(encrypted, 'base64')\nlet decrypted = crypto.privateDecrypt({key: keyData, passphrase}, buffer);\nmsg.payload = decrypted.toString('utf8');\nlet pl = msg.payload;\ntry \n{\n    pl = JSON.parse(pl);\n    msg.payload = pl;\n} \ncatch (e) \n{\n    //no json I guess\n}\nnode.send(msg);","outputs":1,"noerr":0,"x":590,"y":540,"wires":[["5b81cdbf.a76a64","d701d393.375dc8"]]},{"id":"d701d393.375dc8","type":"change","z":"99ed2199.f42dd","name":"$Base64decode","rules":[{"t":"set","p":"payload","pt":"msg","to":"$base64decode(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":620,"wires":[["7740bc4d.833f8c"]]},{"id":"7740bc4d.833f8c","type":"debug","z":"99ed2199.f42dd","name":"$base64decode","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":620,"wires":[]},{"id":"d406d3f9.5287d8","type":"function","z":"856ce341.45dad","name":"Libxmljs XSD verification ","func":"\nvar x = global.get('libxmljs');\n//var x = libxml.Document();\n\nvar xsd ='<?xml version=\"1.0\" encoding=\"utf-8\"?><xs:schema id=\"Report\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"><xs:element name=\"Report\"><xs:complexType><xs:sequence><xs:element name=\"Name\" type=\"xs:string\"/><xs:element name=\"Number\" type=\"xs:integer\"/><xs:element name=\"Date\" type=\"xs:date\"/><xs:element name=\"Boolean\" type=\"xs:boolean\"/></xs:sequence></xs:complexType></xs:element></xs:schema>';\nvar xsdDoc = x.parseXmlString(xsd);\n\nvar xml0 = msg.payload;\nvar xmlDoc0 = x.parseXmlString(xml0);\nvar xml1 = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><bar xmlns=\"http://example.com/XMLSchema/1.0\"></bar>';\nvar xmlDoc1 = x.parseXmlString(xml1);\n\nmsg.payload = xmlDoc0.validate(xsdDoc);\nvar msg2 = {};\nmsg2.payload = xmlDoc1.validate(xsdDoc);\n\nreturn [msg, msg2];\n\n","outputs":2,"noerr":0,"x":510,"y":220,"wires":[["1f7ac916.823867"],["9f4ba89d.52fb2"]]},{"id":"f1229721.344d28","type":"inject","z":"856ce341.45dad","name":"Report","topic":"","payload":"<?xml version=\"1.0\" encoding=\"utf-8\"?><Report><Name>str1234</Name><Number>1234</Number><Date>2012-12-13</Date><Boolean>true</Boolean></Report>","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":160,"wires":[["d406d3f9.5287d8"]]},{"id":"1f7ac916.823867","type":"debug","z":"856ce341.45dad","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":140,"wires":[]},{"id":"9f4ba89d.52fb2","type":"debug","z":"856ce341.45dad","name":"msg2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":280,"wires":[]},{"id":"2877cbc7.7967cc","type":"inject","z":"f10f13e7.0173d8","name":"","topic":"","payload":"password","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":320,"wires":[["7ee95100.f8a678"]]},{"id":"4085aee.28a6e5","type":"debug","z":"f10f13e7.0173d8","name":"store1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":320,"wires":[]},{"id":"1b844ab.14f2db5","type":"rsa-encrypt","z":"f10f13e7.0173d8","name":"rsa encrypt","publickey":"-----BEGIN PUBLIC KEY----- MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAOAWLFqfHillTJ98KLZmcUNNcw61f0UB FTN5gen46X2rdU4DVQwQWkuFeHz65qBgO01zCtiD88tZ9TBDLgdWPKsCAwEAAQ== -----END PUBLIC KEY-----","x":490,"y":140,"wires":[["84924926.12e5c","5c7e7655.a16c88"]]},{"id":"84924926.12e5c","type":"debug","z":"f10f13e7.0173d8","name":"rsa encrypt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":140,"wires":[]},{"id":"2c505032.4d5668","type":"inject","z":"f10f13e7.0173d8","name":"","topic":"","payload":"text","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":140,"wires":[["1b844ab.14f2db5"]]},{"id":"5c7e7655.a16c88","type":"rsa-decrypt","z":"f10f13e7.0173d8","name":"rsa decrypt","privatekey":"-----BEGIN ENCRYPTED PRIVATE KEY----- MIIBvTBXBgkqhkiG9w0BBQ0wSjApBgkqhkiG9w0BBQwwHAQInBZi9k/mnyACAggA MAwGCCqGSIb3DQIJBQAwHQYJYIZIAWUDBAEqBBBdSIoHqlZF4OS6TjKpN4ceBIIB YODYU4SEXbfmj1AHpGYY6wfmMH6nR9ULcZZdatJX5UCwHjp2o4vz9SyNeYF3X/3U TJ7gS2w//JPPtS1nGh7x/42opgNvwhYdtaDp7RcPnuIe7qwswboP3glw/XCC6Ceh PvxfhLj1cUTLAKANN/eZTJJQKid+OU8xwFQf31ili4YR+lNy7TFEUUhvTXkRK83/ Dcf5Kfog6ee802MjFDuuQlX8tH4105WgnUMwnggOx7ISGNSQwb/RJSGmuvhhuhlt eHf0jYC2dup650L6mLmge8EwWTJexAI+iOPmkCYstWgRwwyquOChIUsF/WfgZnpS pHPijIhlDGxhwaWgBCdK7xobf89Cqs98LyRuFE/f1naHWq7HnffwDAIqIK08yQJc bUZiKukXvzU1/mJJcvhwooBRQJOvdmpa9Xz+Wz9hmZfttx3hhXUSKfklMvncXsSK 8RBa1PLPvyVj5SGdykXD/1k= -----END ENCRYPTED PRIVATE KEY-----","x":490,"y":220,"wires":[["87159a0.d8eaee8"]]},{"id":"87159a0.d8eaee8","type":"debug","z":"f10f13e7.0173d8","name":"rsa decrypt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":220,"wires":[]},{"id":"7ee95100.f8a678","type":"rsa-generate-keypair","z":"f10f13e7.0173d8","name":"rsa generate keypair","bitlength":"512","passphrase":"","x":460,"y":320,"wires":[["4085aee.28a6e5","5c7e7655.a16c88","1b844ab.14f2db5"]]},{"id":"a6b94fcb.b0238","type":"comment","z":"f10f13e7.0173d8","name":"sense-rsa","info":"","x":460,"y":440,"wires":[]},{"id":"a20e5c5a.b211b","type":"comment","z":"90ec5700.fb9a5","name":"","info":"https://www.npmjs.com/package/xml-crypto\nhttps://github.com/yaronn/xml-crypto","x":100,"y":60,"wires":[]},{"id":"917a31a1.c574a","type":"debug","z":"90ec5700.fb9a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":200,"wires":[]},{"id":"dfc8716b.6d3728","type":"inject","z":"90ec5700.fb9a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["196f3044.4d38f8"]]},{"id":"196f3044.4d38f8","type":"function","z":"90ec5700.fb9a5","name":"Verify xml-crypto","func":"var select = global.get('xmlcrypto').xpath;\nvar SignedXml = global.get('xmlcrypto').SignedXml;\nvar FileKeyInfo = global.get('xmlcrypto').FileKeyInfo;\nvar dom = global.get('xmldom').DOMParser;\nvar fs =global.get('fs');\n\nvar xml = fs.readFileSync(\"C:\\\\DevOps\\\\Projects\\\\e-sprawozdania\\\\signed.xml\").toString()\nvar doc = new dom().parseFromString(xml)   \nvar signature = select(doc, \"/*/*[local-name(.)='Signature' and namespace-uri(.)='http://www.w3.org/2000/09/xmldsig#']\")[0]\nvar sig = new SignedXml()\nsig.keyInfoProvider = new FileKeyInfo(\"C:\\\\DevOps\\\\Projects\\\\e-sprawozdania\\\\publicKey.pem\");\nsig.loadSignature(signature)\nvar res = sig.checkSignature(xml)\nmsg.payload = res \nif (!res) console.log(sig.validationErrors)\t\nreturn msg;\n\n\n   \n \n   \n","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["917a31a1.c574a"]]},{"id":"4a8be160.b45c7","type":"function","z":"90ec5700.fb9a5","name":"Sign xml-crypto","func":"var SignedXml = global.get('xmlcrypto').SignedXml;\nvar fs = global.get('fs')\nvar xml = \"<library><book><name>Harry Potter</name></book></library>\"\nvar sig = new SignedXml()\nsig.addReference(\"//*[local-name(.)='book']\")    \nsig.signingKey = fs.readFileSync(\"C:\\\\DevOps\\\\Projects\\\\e-sprawozdania\\\\privateKey.pem\")\n//sig.signingKey = msg.payload\nsig.computeSignature(xml);\nfs.writeFileSync(\"C:\\\\DevOps\\\\Projects\\\\e-sprawozdania\\\\signed.xml\", sig.getSignedXml())\nmsg.payload =  sig.getSignedXml();\nglobal.set('report', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":140,"wires":[["1c1e52ff.d4305d"]]},{"id":"b787d273.0ecd08","type":"inject","z":"90ec5700.fb9a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["4a8be160.b45c7"]]},{"id":"1c1e52ff.d4305d","type":"debug","z":"90ec5700.fb9a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":140,"wires":[]},{"id":"7a84b86a.e0a728","type":"comment","z":"1e3d8908.b90af7","name":"node-red-contrib-jwt","info":"","x":170,"y":40,"wires":[]},{"id":"57b2d2a3.6a552c","type":"inject","z":"1e3d8908.b90af7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":120,"wires":[["5d75efa2.339d38"]]},{"id":"5d75efa2.339d38","type":"function","z":"1e3d8908.b90af7","name":"Set Some data","func":"return {payload:{key:\"value\"}};","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["716bb4f3.b82ecc"]]},{"id":"716bb4f3.b82ecc","type":"jwt sign","z":"1e3d8908.b90af7","name":"","alg":"RS256","exp":3600,"jwkurl":"","jwkkid":"","secret":"","key":"C:\\DevOps\\Projects\\e-sprawozdania\\privateKey.pem","signvar":"payload","storetoken":"token","x":560,"y":120,"wires":[["e28b0194.0e4d68","87a873b.deb6f1"]]},{"id":"e28b0194.0e4d68","type":"debug","z":"1e3d8908.b90af7","name":"sign","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":120,"wires":[]},{"id":"87a873b.deb6f1","type":"jwt verify","z":"1e3d8908.b90af7","name":"","alg":["RS256","RS384","RS512"],"jwkurl":"","secret":"","key":"C:\\DevOps\\Projects\\e-sprawozdania\\publicKey.pem","signvar":"token","storetoken":"topic","x":570,"y":200,"wires":[["15c12ff0.404088"]]},{"id":"15c12ff0.404088","type":"debug","z":"1e3d8908.b90af7","name":"Verify","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":180,"wires":[]},{"id":"c680d9d7.783828","type":"function","z":"1e3d8908.b90af7","name":"Set Some data","func":"return {payload:{key:\"value\"}};","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["82093450.8bb1d8"]]},{"id":"4d5c5cfc.cf570c","type":"inject","z":"1e3d8908.b90af7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":300,"wires":[["c680d9d7.783828"]]},{"id":"82093450.8bb1d8","type":"jwt sign","z":"1e3d8908.b90af7","name":"","alg":"HS256","exp":3600,"jwkurl":"","jwkkid":"","secret":"password","key":"","signvar":"payload","storetoken":"token","x":560,"y":300,"wires":[["bb22ee71.980528","2018193c.0027e6"]]},{"id":"bb22ee71.980528","type":"debug","z":"1e3d8908.b90af7","name":"sign","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":300,"wires":[]},{"id":"2018193c.0027e6","type":"jwt verify","z":"1e3d8908.b90af7","name":"","alg":["HS256"],"jwkurl":"","secret":"password","key":"","signvar":"token","storetoken":"topic","x":550,"y":380,"wires":[["af5f6590.44f2"]]},{"id":"af5f6590.44f2","type":"debug","z":"1e3d8908.b90af7","name":"Verify","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":360,"wires":[]},{"id":"c2864e90.bb05b8","type":"inject","z":"8f2f450c.94ff48","name":"Generate","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["c0d793a7.099f9","218b6b52.0b4ea4","e284ca6e.c104c8"]]},{"id":"a571dcf7.1e5a58","type":"digest","z":"8f2f450c.94ff48","name":"SHA256","algorithm":"SHA256","x":400,"y":340,"wires":[["d036a48c.7352d"]]},{"id":"a7e397f.9c7f168","type":"function","z":"8f2f450c.94ff48","name":"Generate Key","func":"const crypto =  global.get('crypto');\nvar passphrase = crypto.randomBytes(16);\npassphrase = passphrase.toString('hex')\nmsg.passphrase = passphrase\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["59fbb960.5b5ab","af45cd9d.5a7f38"]]},{"id":"ee3ae09d.b8fb68","type":"change","z":"8f2f450c.94ff48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$base64encode(payload)\t","tot":"jsonata"},{"t":"set","p":"payload.","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":240,"wires":[["a571dcf7.1e5a58","a7e397f.9c7f168"]]},{"id":"218b6b52.0b4ea4","type":"function","z":"8f2f450c.94ff48","name":"UUID","func":"msg.parts = {\"id\":\"13cf5e91.a28061\",\"type\":\"object\",\"index\":0,\"count\":5};\nmsg.topic = 'UUID';\nmsg.payload = uuidv4()\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":100,"wires":[["263c19cf.4b603e","51ae5d42.fea57c"]]},{"id":"e284ca6e.c104c8","type":"function","z":"8f2f450c.94ff48","name":"Timestamp","func":"msg.parts = {\"id\":\"13cf5e91.a28061\",\"type\":\"object\",\"index\":1,\"count\":5};\nmsg.topic = 'Timestamp';\nmsg.payload = new Date().toISOString();\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":160,"wires":[["263c19cf.4b603e","51ae5d42.fea57c"]]},{"id":"59fbb960.5b5ab","type":"function","z":"8f2f450c.94ff48","name":"AESEncryptDoc","func":"const crypto =  global.get('crypto');\nvar mykey = crypto.createCipher('aes-128-cbc', msg.passphrase);\nvar mystr = mykey.update(msg.payload, 'utf8', 'hex')\nmystr += mykey.final('hex');\nmsg.payload = mystr.trim();\nmsg.parts = {\"id\":\"13cf5e91.a28061\",\"type\":\"object\",\"index\":2,\"count\":5};\nmsg.topic = 'AESEncryptDoc';\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":220,"wires":[["263c19cf.4b603e","51ae5d42.fea57c"]]},{"id":"af45cd9d.5a7f38","type":"function","z":"8f2f450c.94ff48","name":"RSAEncryptKey","func":"const crypto =  global.get('crypto');\nvar fs = global.get('fs');\nlet serverPublicKey = fs.readFileSync(\"C:\\\\DevOps\\\\Projects\\\\e-sprawozdania\\\\serverPublicKey.pem\")\nmsg.payload = msg.passphrase\nif(typeof msg.payload == \"object\")\n{\n    msg.payload = JSON.stringify(msg.payload);\n}\nlet buffer = Buffer.from(msg.payload, 'utf8')\nlet encrypted = crypto.publicEncrypt(serverPublicKey, buffer);\nmsg.payload = encrypted.toString('base64');\n\nmsg.parts = {\"id\":\"13cf5e91.a28061\",\"type\":\"object\",\"index\":3,\"count\":5};\nmsg.topic = 'RSAEncryptKey';\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["263c19cf.4b603e","51ae5d42.fea57c"]]},{"id":"65a5bf1.7c4a9c","type":"function","z":"8f2f450c.94ff48","name":"HashSHA256","func":"msg.parts = {\"id\":\"13cf5e91.a28061\",\"type\":\"object\",\"index\":4,\"count\":5};\nmsg.topic = 'HashSHA256';\nmsg.complete\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":340,"wires":[["263c19cf.4b603e","51ae5d42.fea57c"]]},{"id":"263c19cf.4b603e","type":"join","z":"8f2f450c.94ff48","name":"Report","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":340,"wires":[["ba4cd657.f618a"]]},{"id":"17ed9fab.694b98","type":"xml","z":"8f2f450c.94ff48","name":"","property":"payload","attr":"","chr":"","x":1010,"y":160,"wires":[["e38b52db.cb481"]]},{"id":"ba4cd657.f618a","type":"function","z":"8f2f450c.94ff48","name":"InitRequest","func":"msg.payload = { \"InitRequest\": msg.payload}\nvar msg1 = {};\nmsg1.payload = msg.payload\nreturn msg1;","outputs":1,"noerr":0,"x":1010,"y":260,"wires":[["17ed9fab.694b98"]]},{"id":"b7b3944d.c113f","type":"debug","z":"8f2f450c.94ff48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1570,"y":160,"wires":[]},{"id":"51ae5d42.fea57c","type":"debug","z":"8f2f450c.94ff48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":100,"wires":[]},{"id":"71daecad.f603c4","type":"comment","z":"8f2f450c.94ff48","name":"node-red-contrib-crypto-js","info":"","x":730,"y":40,"wires":[]},{"id":"c0d793a7.099f9","type":"file in","z":"8f2f450c.94ff48","name":"Report.xml","filename":"C:\\DevOps\\Projects\\e-sprawozdania\\Report.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":210,"y":160,"wires":[["ee3ae09d.b8fb68"]]},{"id":"7cdda103.3468c","type":"file","z":"8f2f450c.94ff48","name":"InitRequest.xml","filename":"C:\\DevOps\\Projects\\e-sprawozdania\\InitRequest.signed.xml","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":1340,"y":160,"wires":[["b7b3944d.c113f"]]},{"id":"d036a48c.7352d","type":"delay","z":"8f2f450c.94ff48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":340,"wires":[["65a5bf1.7c4a9c"]]},{"id":"e38b52db.cb481","type":"function","z":"8f2f450c.94ff48","name":"Sign xml-crypto","func":"var SignedXml = global.get('xmlcrypto').SignedXml;\nvar fs = global.get('fs')\nvar xml = msg.payload\nvar sig = new SignedXml()\nsig.addReference(\"//*[local-name(.)='InitRequest']\")    \nsig.signingKey = fs.readFileSync(\"C:\\\\DevOps\\\\Projects\\\\e-sprawozdania\\\\clientPrivateKey.pem\")\nsig.computeSignature(xml);\nmsg.payload =  sig.getSignedXml();\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":260,"wires":[["7cdda103.3468c"]]},{"id":"66365ecd.66dcc8","type":"function","z":"3f4fcc7a.8cf3bc","name":"prepareCall","func":"/*\nTo use Building Insights APIs, a bearer token must first be obtained.\nThe Bearer token is obtained by invoking a login API using a POST method.\nThe API payload is an object with username and password.\nIf correct, the API returns a payload object that will contain a valid token\nfor subsequent authentication.\n*/\n\n// set login API here\nvar loginAPI = \"https://ai4dt-prod.eu-de.mybluemix.net/api/v1/user/activity/login\";\n\nmsg.method = \"POST\";\nmsg.url = loginAPI;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\n\n// set username and password here from Welcome Letter\nmsg.payload = {\n  \"username\": \"KITT4IOT@drl.ibm.com\",\n  \"password\": \"D22CA5B9\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["ec1ce00c.b6f088"]]},{"id":"ec1ce00c.b6f088","type":"http request","z":"3f4fcc7a.8cf3bc","name":"getBearerToken","method":"use","ret":"obj","url":"","tls":"","x":480,"y":80,"wires":[["ed2e5a7a.f9678"]]},{"id":"ed2e5a7a.f9678","type":"switch","z":"3f4fcc7a.8cf3bc","name":"ifTokenReceived","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":160,"wires":[["964c9f9.c22ef6"],["dbe86c53.ef6308"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"964c9f9.c22ef6","type":"function","z":"3f4fcc7a.8cf3bc","name":"setToken","func":"// if we got to this node, then we got a token, save it to the flow\nvar token = \"\";\ntoken = \"Bearer \" + msg.payload.token;\nflow.set(\"token\", token);\nmsg.payload.token = token;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["14f3f352.8f793d"]]},{"id":"e2f4c833.ad0fc","type":"inject","z":"3f4fcc7a.8cf3bc","name":"getToken","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["66365ecd.66dcc8"]]},{"id":"dbe86c53.ef6308","type":"debug","z":"3f4fcc7a.8cf3bc","name":"noToken","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":180,"wires":[]},{"id":"14f3f352.8f793d","type":"debug","z":"3f4fcc7a.8cf3bc","name":"tokenReceived","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":140,"wires":[]},{"id":"edd9aea.49bcf5","type":"comment","z":"3f4fcc7a.8cf3bc","name":"STEP 2 - Using Bearer token, invoke an API.","info":"","x":190,"y":240,"wires":[]},{"id":"4eaa9c01.e6940c","type":"function","z":"3f4fcc7a.8cf3bc","name":"prepareCall","func":"/*\nUse Bearer token to authenticate API call.\nIn this example, we will use the \"/v1/estate/energy/usage\" API\n*/\n\nvar aggURL = \"https://ai4dt-prod-bi-campus.eu-de.mybluemix.net/buildinginsights/api\";\nvar apiName = \"/v0/estate/energy/usage\";\n\nmsg.method = \"GET\";\nmsg.url = aggURL + apiName;\nmsg.headers = {};\nmsg.headers.Authorization = flow.get(\"token\");\nmsg.headers[\"Content-Type\"] = \"application/json\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["eb0db9ab.6c5458"]]},{"id":"eb0db9ab.6c5458","type":"http request","z":"3f4fcc7a.8cf3bc","name":"getAPIData","method":"use","ret":"obj","url":"","tls":"","x":450,"y":280,"wires":[["9ae390e9.cdab28"]]},{"id":"9ae390e9.cdab28","type":"switch","z":"3f4fcc7a.8cf3bc","name":"ifDataReceived","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":360,"wires":[["44aae1da.eff008"],["e94af8b.428cc88"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"131a971c.3907e9","type":"inject","z":"3f4fcc7a.8cf3bc","name":"getData","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["4eaa9c01.e6940c"]]},{"id":"e94af8b.428cc88","type":"debug","z":"3f4fcc7a.8cf3bc","name":"noData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":460,"y":380,"wires":[]},{"id":"44aae1da.eff008","type":"debug","z":"3f4fcc7a.8cf3bc","name":"dataReceived","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":340,"wires":[]},{"id":"5c00bd51.281eb4","type":"comment","z":"3f4fcc7a.8cf3bc","name":"STEP 1 - Obtain Bearer token.","info":"Invoking Building Insights APIs using Node-RED\nhttps://developer.ibm.com/technologies/iot/tutorials/invoking-building-insights-apis-using-node-red","x":140,"y":40,"wires":[]},{"id":"3366eecd.d41fa2","type":"function","z":"5eccde15.385308","name":"Generate Basic token","func":"\n\n\nif (authenticate(msg.payload.username, msg.payload.password)) {\n\nvar data = msg.payload.username+':'+msg.payload.password;\n\nmsg.statusCode = 200;\nmsg.payload.token  = Buffer.from(data).toString('base64')\n\n\n\n\n\n} else {\nmsg.statusCode = 400;\nmsg.payload = 'Username or password is incorrect';\n}\n\nfunction authenticate(user, pass) {\nreturn user === \"username\" && pass === \"password\";\n}\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":500,"y":480,"wires":[["a0a06082.d452f8","79ab26e7.bdac38"]]},{"id":"df487242.7fe388","type":"http in","z":"5eccde15.385308","name":"","url":"/api/v1/user/activity/login","method":"post","upload":false,"swaggerDoc":"","x":190,"y":480,"wires":[["a31e8954.c632d"]]},{"id":"8674b89b.771598","type":"http response","z":"5eccde15.385308","name":"","statusCode":"","headers":{},"x":930,"y":480,"wires":[]},{"id":"79ab26e7.bdac38","type":"change","z":"5eccde15.385308","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":460,"wires":[["8674b89b.771598"]]},{"id":"a31e8954.c632d","type":"change","z":"5eccde15.385308","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":540,"wires":[["3366eecd.d41fa2"]]},{"id":"a0a06082.d452f8","type":"debug","z":"5eccde15.385308","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":540,"wires":[]},{"id":"95ce2b18.3eea9","type":"comment","z":"5eccde15.385308","name":"https://blog.restcase.com/4-most-used-rest-api-authentication-methods/","info":"","x":790,"y":20,"wires":[]},{"id":"345b8f6d.69cb5","type":"function","z":"5eccde15.385308","name":"prepareCall","func":"/*\nTo use Building Insights APIs, a bearer token must first be obtained.\nThe Bearer token is obtained by invoking a login API using a POST method.\nThe API payload is an object with username and password.\nIf correct, the API returns a payload object that will contain a valid token\nfor subsequent authentication.\n*/\n\n// set login API here\nvar loginAPI = \"http://127.0.0.1:1880/api/v1/user/activity/login\";\n\nmsg.method = \"POST\";\nmsg.url = loginAPI;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\n\n// set username and password here from Welcome Letter\nmsg.payload = {\n  \"username\": \"username\",\n  \"password\": \"password\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["fddcad08.249ae"]]},{"id":"fddcad08.249ae","type":"http request","z":"5eccde15.385308","name":"getBasicToken","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":520,"y":80,"wires":[["23de1c4.78c2264"]]},{"id":"23de1c4.78c2264","type":"switch","z":"5eccde15.385308","name":"ifTokenReceived","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":160,"wires":[["7f190889.12929"],["5c2f6f05.9ca958"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"7f190889.12929","type":"function","z":"5eccde15.385308","name":"setToken","func":"// if we got to this node, then we got a token, save it to the flow\nvar token = \"\";\ntoken = \"Basic \" + msg.payload.token;\nflow.set(\"token\", token);\nmsg.payload.token = token;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[["a918198f.14ebd"]]},{"id":"9dafcbb7.817508","type":"inject","z":"5eccde15.385308","name":"getToken","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["345b8f6d.69cb5"]]},{"id":"5c2f6f05.9ca958","type":"debug","z":"5eccde15.385308","name":"noToken","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":180,"wires":[]},{"id":"a918198f.14ebd","type":"debug","z":"5eccde15.385308","name":"tokenReceived","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":140,"wires":[]},{"id":"c749b31a.c11938","type":"comment","z":"5eccde15.385308","name":"STEP 1 - Obtain Basic token.","info":"Invoking Building Insights APIs using Node-RED\nhttps://developer.ibm.com/technologies/iot/tutorials/invoking-building-insights-apis-using-node-red","x":180,"y":40,"wires":[]},{"id":"e617a65b.7cb07","type":"comment","z":"5eccde15.385308","name":"STEP 1 - Provice Basic token.","info":"Invoking Building Insights APIs using Node-RED\nhttps://developer.ibm.com/technologies/iot/tutorials/invoking-building-insights-apis-using-node-red","x":180,"y":440,"wires":[]},{"id":"d37b1405.3fd9d8","type":"comment","z":"5eccde15.385308","name":"STEP 2 - Using Basic token, invoke an API.","info":"","x":230,"y":240,"wires":[]},{"id":"16a909fe.3e630e","type":"function","z":"5eccde15.385308","name":"prepareCall","func":"/*\nUse Bearer token to authenticate API call.\nIn this example, we will use the \"/v1/estate/energy/usage\" API\n*/\n\nvar aggURL = \"http://127.0.0.1:1880/api\";\nvar apiName = \"/v1/tests\";\n\nmsg.method = \"GET\";\nmsg.url = aggURL + apiName;\nmsg.headers = {};\nmsg.headers.Authorization = flow.get(\"token\");\nmsg.headers[\"Content-Type\"] = \"application/json\";\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["404d7f71.f4ed4"]]},{"id":"404d7f71.f4ed4","type":"http request","z":"5eccde15.385308","name":"getAPIData","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":280,"wires":[["262384e7.dfa4bc"]]},{"id":"262384e7.dfa4bc","type":"switch","z":"5eccde15.385308","name":"ifDataReceived","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":360,"wires":[["a0d2d78b.00b82"],["e716e86a.b85638"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"9b4dc096.1deb68","type":"inject","z":"5eccde15.385308","name":"getData","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["16a909fe.3e630e"]]},{"id":"e716e86a.b85638","type":"debug","z":"5eccde15.385308","name":"noData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":380,"wires":[]},{"id":"a0d2d78b.00b82","type":"debug","z":"5eccde15.385308","name":"dataReceived","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":340,"wires":[]},{"id":"828dd25e.06cd38","type":"comment","z":"5eccde15.385308","name":"STEP 2 - Verify Basic token, provide access to an API.","info":"","x":260,"y":640,"wires":[]},{"id":"1b2266d1.40afb1","type":"http in","z":"5eccde15.385308","name":"","url":"/api/v1/tests","method":"get","upload":false,"swaggerDoc":"","x":100,"y":700,"wires":[["b61f06e4.8b8848"]]},{"id":"a7cc2190.e599a8","type":"http response","z":"5eccde15.385308","name":"","statusCode":"","headers":{},"x":890,"y":800,"wires":[]},{"id":"b4d8075f.4f3d98","type":"change","z":"5eccde15.385308","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":720,"wires":[["a7cc2190.e599a8"]]},{"id":"b61f06e4.8b8848","type":"change","z":"5eccde15.385308","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":800,"wires":[["ef395a75.6294d","83183c7c.81a138"]]},{"id":"cdbb4d73.ea0c78","type":"debug","z":"5eccde15.385308","name":"out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":840,"wires":[]},{"id":"83183c7c.81a138","type":"function","z":"5eccde15.385308","name":"basicAuth & return data","func":"var isUser = basicAuth(msg.req, msg.res) \n\nif (isUser) {\n    msg.payload = {\"data\":\"OK\"}\n} else {\n    msg.payload = null\n}\n\n\nfunction basicAuth(req, res) {\n\nif (!req.headers.authorization || req.headers.authorization.indexOf('Basic ') === -1) {\n    msg.statusCode = 401;\n        return false\n}\n\n// verify auth credentials\nvar base64Credentials =  req.headers.authorization.split(' ')[1];\n\nvar credentials = Buffer.from(base64Credentials, 'base64').toString('ascii');\n\nvar [username, password] = credentials.split(':');\n\nvar user = authenticate(username, password);\n\nif (!user) {\n    msg.statusCode = 401;\n        return false\n    }\n\n    msg.req.user = user\n    return user\n}\n    \nfunction authenticate(user, pass) {\nreturn user === \"username\" && pass === \"password\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":720,"wires":[["cdbb4d73.ea0c78","b4d8075f.4f3d98"]]},{"id":"ef395a75.6294d","type":"debug","z":"5eccde15.385308","name":"in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":920,"wires":[]},{"id":"a4c85817.fafb88","type":"function","z":"c8dee36f.a2cc","name":"Generate Bearer token","func":"const crypto = global.get('crypto');\n\nif (authenticate(msg.payload.username, msg.payload.password)) {\n \n\nvar header = {\"typ\": \"JWT\",\"alg\": \"HS256\"};\nvar body = {\"sub\": \"1234567890\", \"name\": \"John Doe\", \"admin\": true, \"jti\": \"60a819f2-c396-4dff-942f-6e62eae551b4\", \"iat\": 1584132969550, \"exp\": 1584935179562, \"scope\": \"read write\"};\n\nvar secret = crypto.randomBytes(32).toString('hex')\nglobal.set('secret', secret);\n\nconsole.log('header, body, secret: ' + JSON.stringify(header) + ' - ' +JSON.stringify(body)+' - ' +secret)\nvar jwt = generate_jwt(header, body, secret);\n\nmsg.statusCode = 200;\nmsg.payload.token =JSON.stringify(jwt)\n\n} else {\nmsg.statusCode = 400;\nmsg.payload = 'Username or password is incorrect';\n}\n\n\nfunction generate_jwt(header, body, secret) {\n// Encode Header\nvar base64UrlHeader = Buffer.from(JSON.stringify(header)).toString('base64');\n\n// Encode Payload\nvar base64UrlBody = Buffer.from(JSON.stringify(body)).toString('base64');\n\n// Create Signature Hash\nvar signature = crypto.createHmac('sha256', secret).update(base64UrlHeader+\".\"+base64UrlBody).digest('hex')\n\n// Encode Signature to Base64Url String\nvar base64UrlSignature = Buffer.from(signature).toString('base64');\n//console.log('base64UrlSignature: ' + base64UrlSignature)\n// Create JWT\nvar jwt = base64UrlHeader +\".\"+ base64UrlBody +\".\"+ base64UrlSignature\n\nreturn jwt;\n}\n\nfunction authenticate(user, pass) {\nreturn user === \"username\" && pass === \"password\";\n}\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":500,"y":500,"wires":[["b7c2ddfa.fbc0f","b117fbb3.cc3c78"]]},{"id":"9241312b.a7d3a","type":"http in","z":"c8dee36f.a2cc","name":"","url":"/api/v2/user/activity/login","method":"post","upload":false,"swaggerDoc":"","x":190,"y":500,"wires":[["3ffb1fbb.a86d1"]]},{"id":"dbba6666.eb61","type":"http response","z":"c8dee36f.a2cc","name":"","statusCode":"","headers":{},"x":930,"y":500,"wires":[]},{"id":"b117fbb3.cc3c78","type":"change","z":"c8dee36f.a2cc","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":480,"wires":[["dbba6666.eb61"]]},{"id":"3ffb1fbb.a86d1","type":"change","z":"c8dee36f.a2cc","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":560,"wires":[["a4c85817.fafb88"]]},{"id":"b7c2ddfa.fbc0f","type":"debug","z":"c8dee36f.a2cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":560,"wires":[]},{"id":"5be6ddd3.f47f5c","type":"comment","z":"c8dee36f.a2cc","name":"https://blog.restcase.com/4-most-used-rest-api-authentication-methods/","info":"","x":790,"y":40,"wires":[]},{"id":"9e909f13.a89f7","type":"function","z":"c8dee36f.a2cc","name":"prepareCall","func":"/*\nTo use Building Insights APIs, a bearer token must first be obtained.\nThe Bearer token is obtained by invoking a login API using a POST method.\nThe API payload is an object with username and password.\nIf correct, the API returns a payload object that will contain a valid token\nfor subsequent authentication.\n*/\n\n// set login API here\nvar loginAPI = \"http://127.0.0.1:1880/api/v2/user/activity/login\";\n\nmsg.method = \"POST\";\nmsg.url = loginAPI;\nmsg.headers = {};\nmsg.headers[\"Content-Type\"] = \"application/json\";\n\n// set username and password here from Welcome Letter\nmsg.payload = {\n  \"username\": \"username\",\n  \"password\": \"password\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["5c665bc5.87b1dc"]]},{"id":"5c665bc5.87b1dc","type":"http request","z":"c8dee36f.a2cc","name":"getBearerToken","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":100,"wires":[["f76f05a0.d0362"]]},{"id":"f76f05a0.d0362","type":"switch","z":"c8dee36f.a2cc","name":"ifTokenReceived","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":180,"wires":[["7bc723d3.ed0a84"],["8abfbef.a5654c"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"7bc723d3.ed0a84","type":"function","z":"c8dee36f.a2cc","name":"setToken","func":"// if we got to this node, then we got a token, save it to the flow\nvar token = \"\";\ntoken = \"Bearer \" + msg.payload.token;\nflow.set(\"token\", token);\nmsg.payload.token = token;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["90a25166.94868"]]},{"id":"d6ce15a9.b9848","type":"inject","z":"c8dee36f.a2cc","name":"getToken","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["9e909f13.a89f7"]]},{"id":"8abfbef.a5654c","type":"debug","z":"c8dee36f.a2cc","name":"noToken","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":200,"wires":[]},{"id":"90a25166.94868","type":"debug","z":"c8dee36f.a2cc","name":"tokenReceived","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":160,"wires":[]},{"id":"b5226e5b.599738","type":"comment","z":"c8dee36f.a2cc","name":"STEP 1 - Obtain Bearer token.","info":"Invoking Building Insights APIs using Node-RED\nhttps://developer.ibm.com/technologies/iot/tutorials/invoking-building-insights-apis-using-node-red","x":180,"y":60,"wires":[]},{"id":"53bec6f2.495698","type":"comment","z":"c8dee36f.a2cc","name":"STEP 1 - Provice Bearer token.","info":"Invoking Building Insights APIs using Node-RED\nhttps://developer.ibm.com/technologies/iot/tutorials/invoking-building-insights-apis-using-node-red","x":190,"y":460,"wires":[]},{"id":"19aabcdd.7ca323","type":"comment","z":"c8dee36f.a2cc","name":"STEP 2 - Using Bearer token, invoke an API.","info":"","x":230,"y":260,"wires":[]},{"id":"3d0fd76a.4e268","type":"function","z":"c8dee36f.a2cc","name":"prepareCall","func":"/*\nUse Bearer token to authenticate API call.\nIn this example, we will use the \"/v1/estate/energy/usage\" API\n*/\n\nvar aggURL = \"http://127.0.0.1:1880/api\";\nvar apiName = \"/v2/tests\";\n\nmsg.method = \"GET\";\nmsg.url = aggURL + apiName;\nmsg.headers = {};\nmsg.headers.Authorization = flow.get(\"token\");\nmsg.headers[\"Content-Type\"] = \"application/json\";\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["b5484afa.bcbbf"]]},{"id":"b5484afa.bcbbf","type":"http request","z":"c8dee36f.a2cc","name":"getAPIData","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":300,"wires":[["52c57054.b353e"]]},{"id":"52c57054.b353e","type":"switch","z":"c8dee36f.a2cc","name":"ifDataReceived","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":380,"wires":[["4f1ce44.44a2e1c"],["aaf9982c.2d583"]],"inputLabels":["httpResult"],"outputLabels":["noToken","tokenReceived"]},{"id":"16f914e1.954c23","type":"inject","z":"c8dee36f.a2cc","name":"getData","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["3d0fd76a.4e268"]]},{"id":"aaf9982c.2d583","type":"debug","z":"c8dee36f.a2cc","name":"noData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":400,"wires":[]},{"id":"4f1ce44.44a2e1c","type":"debug","z":"c8dee36f.a2cc","name":"dataReceived","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":360,"wires":[]},{"id":"6cacbba6.dffd24","type":"comment","z":"c8dee36f.a2cc","name":"STEP 2 - Verify Bearer token, provide access to an API.","info":"","x":260,"y":660,"wires":[]},{"id":"881bb449.ff3e5","type":"http in","z":"c8dee36f.a2cc","name":"","url":"/api/v2/tests","method":"get","upload":false,"swaggerDoc":"","x":100,"y":720,"wires":[["c1849e40.611078"]]},{"id":"49d51124.f7f84","type":"http response","z":"c8dee36f.a2cc","name":"","statusCode":"","headers":{},"x":890,"y":820,"wires":[]},{"id":"9c8232f8.afd478","type":"change","z":"c8dee36f.a2cc","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":740,"wires":[["49d51124.f7f84"]]},{"id":"c1849e40.611078","type":"change","z":"c8dee36f.a2cc","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"content-type\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":820,"wires":[["ad95772c.d20ad","bfa34652.5e2778"]]},{"id":"a234f9e0.2811f","type":"debug","z":"c8dee36f.a2cc","name":"out","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":860,"wires":[]},{"id":"bfa34652.5e2778","type":"function","z":"c8dee36f.a2cc","name":"bearerAuth & return data","func":"const crypto = global.get('crypto');\n\nif (!msg.req.headers.authorization || msg.req.headers.authorization.indexOf('Bearer ') === -1) {\n    msg.statusCode = 401;\n        return false\n}\n\n// verify auth credentials\n\nvar jwt =  msg.req.headers.authorization.split(' ')[1];\n\n\nif (jwt === undefined) {\n    msg.statusCode = 401;\n        return false\n}\njwt = jwt.replace('\"','')\n\n// get the local secret key\nvar secret = global.get('secret')\n\n\nvar isTokenValid = validate_jwt(jwt, secret)\n\nif (isTokenValid) {\n    msg.payload = {\"data\":\"OK\"}\n} else {\n    msg.payload = null\n}\n\nfunction validate_jwt(jwt, secret) {\n    \n// split the token\nvar tokenParts = jwt.split('.');\n\t\nvar header = Buffer.from(tokenParts[0], 'base64').toString('ascii');\nvar body = Buffer.from(tokenParts[1], 'base64').toString('ascii');\n\nvar signatureProvided = tokenParts[2].replace('\"','');\n//console.log('signatureProvided: ' + signatureProvided)\n// check the expiration time - note this will cause an error if there is no 'exp' claim in the token\nvar expiration = new Date(JSON.parse(body).exp)\nvar tokenExpired = (Date.now()-expiration) > 0\n\nif (tokenExpired) {\n    msg.statusCode = 401;\n        return false \n}\nvar base64UrlSignature = generate_signature(header, body, secret);\nconsole.log('header, body, secret: ' + header + ' - ' +body+' - ' +secret)\n// verify it matches the signature provided in the token\nvar signatureValid = (base64UrlSignature === signatureProvided);\n\nreturn signatureValid\n}\n\n\nfunction generate_signature(header, body, secret) {\n// Encode Header\nvar base64UrlHeader = Buffer.from(header).toString('base64');\n\n// Encode Payload\nvar base64UrlBody = Buffer.from(body).toString('base64');\n\n// Create Signature Hash\nvar signature = crypto.createHmac('sha256', secret).update(base64UrlHeader+\".\"+base64UrlBody).digest('hex')\n\n// Encode Signature to Base64Url String\nvar base64UrlSignature = Buffer.from(signature).toString('base64');\n\nreturn base64UrlSignature;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":740,"wires":[["a234f9e0.2811f","9c8232f8.afd478"]]},{"id":"ad95772c.d20ad","type":"debug","z":"c8dee36f.a2cc","name":"in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":940,"wires":[]},{"id":"f5d7cecd.cc60b","type":"comment","z":"c8dee36f.a2cc","name":"https://developer.okta.com/blog/2019/02/04/create-and-verify-jwts-in-php","info":"","x":990,"y":80,"wires":[]},{"id":"a514ec4d.66d8e8","type":"http in","z":"f87fa890.ddb298","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":140,"y":60,"wires":[["13f4212f.51551f"]]},{"id":"e76a574e.5891c","type":"http in","z":"f87fa890.ddb298","name":"","url":"/process_login","method":"post","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["ebc9e72b.3d0d2"]]},{"id":"5ff5352a.650fec","type":"http in","z":"f87fa890.ddb298","name":"","url":"/protected","method":"get","upload":false,"swaggerDoc":"","x":140,"y":420,"wires":[["56abb9f.451f8c8"]]},{"id":"13f4212f.51551f","type":"template","z":"f87fa890.ddb298","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>  \n   <head>\n   </head>\n   <body>\n      <form action=\"/process_login\" method=\"POST\">\n         <label for=\"username\">Login</label>\n         <input name=\"username\" type=\"text\" />\n         <br/>\n         <label for=\"password\">Password</label>\n         <input name=\"password\" type=\"password\" />\n         <br/>\n         <input type=\"submit\" />\n      </form>\n   </body>\n</html>  ","output":"str","x":400,"y":60,"wires":[["674a5252.a826c4","77b5733a.53ff7c"]]},{"id":"674a5252.a826c4","type":"http response","z":"f87fa890.ddb298","name":"","statusCode":"","headers":{},"x":710,"y":60,"wires":[]},{"id":"ec4c00d4.d006a8","type":"inject","z":"f87fa890.ddb298","name":"","topic":"","payload":"{\"username\":\"admin\",\"password\":\"secret\",\"firstName\":\"John\",\"lastName\":\"O'Connor\",\"email\":\"johnwoconnor@compose.io\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":700,"wires":[["ac754473.54bc88"]]},{"id":"ac754473.54bc88","type":"function","z":"f87fa890.ddb298","name":"MongoDB Store","func":"var LocalStorage = global.get('localstorage').LocalStorage;\nvar localStorage = new LocalStorage('./users');\n\n//msg.payload = JSON.parse(msg.payload)\nlocalStorage.setItem(msg.payload.username, JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":700,"wires":[["a6cc8bb0.a0b998"]]},{"id":"a6cc8bb0.a0b998","type":"debug","z":"f87fa890.ddb298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":700,"wires":[]},{"id":"b0e86a70.9f8c08","type":"function","z":"f87fa890.ddb298","name":"Clear reportPayload","func":"var LocalStorage = global.get('localstorage').LocalStorage;\nvar localStorage = new LocalStorage('./users');\n\n\nlocalStorage.clear();\nmsg.payload = true\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":500,"y":760,"wires":[["a7ae3bc4.bd0e38"]]},{"id":"226043f5.f12044","type":"inject","z":"f87fa890.ddb298","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":760,"wires":[["b0e86a70.9f8c08"]]},{"id":"a7ae3bc4.bd0e38","type":"debug","z":"f87fa890.ddb298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":780,"wires":[]},{"id":"77b5733a.53ff7c","type":"debug","z":"f87fa890.ddb298","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":120,"wires":[]},{"id":"ebc9e72b.3d0d2","type":"function","z":"f87fa890.ddb298","name":"Setting username","func":"msg.userData = msg.payload;  \nmsg.payload = {  \n    username: msg.userData.username\n};\nreturn msg; ","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["8040732b.e505f8"]]},{"id":"708045.c6fe6fbc","type":"JsonWebToken","z":"f87fa890.ddb298","name":"Test1","tokenconfig":"568ef2fa.6a0ecc","x":510,"y":160,"wires":[["61c1506d.675e3"]]},{"id":"8040732b.e505f8","type":"function","z":"f87fa890.ddb298","name":"MongoDB findOne","func":"var LocalStorage = global.get('localstorage').LocalStorage;\nvar localStorage = new LocalStorage('./users');\n//console.log(msg.payload.username)\n//msg.payload = Array.from(localStorage.getItem(msg.payload.username))\nmsg.payload = localStorage.getItem(msg.payload.username)\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["708045.c6fe6fbc"]]},{"id":"61c1506d.675e3","type":"change","z":"f87fa890.ddb298","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["4cb65bb7.4c46a4"]]},{"id":"4cb65bb7.4c46a4","type":"http response","z":"f87fa890.ddb298","name":"","statusCode":"200","headers":{},"x":820,"y":280,"wires":[]},{"id":"225c02f4.9b94de","type":"http response","z":"f87fa890.ddb298","name":"","statusCode":"200","headers":{},"x":540,"y":460,"wires":[]},{"id":"56abb9f.451f8c8","type":"function","z":"f87fa890.ddb298","name":"Setting token","func":"if (msg.payload.token) {  \n   msg.token = msg.payload.token;\n   node.send(msg);\n} else {\n   msg.statusCode = 403;\n   node.send([null, msg]);\n}","outputs":2,"noerr":0,"x":330,"y":420,"wires":[["68e8e54b.8aecec","91bcc1ca.eed5c"],["225c02f4.9b94de"]]},{"id":"68e8e54b.8aecec","type":"debug","z":"f87fa890.ddb298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":340,"wires":[]},{"id":"b1be9c6a.bbb618","type":"comment","z":"f87fa890.ddb298","name":"http://127.0.0.1:1880/protected?token=eyJhbGciOiJIUzI1N","info":"","x":250,"y":280,"wires":[]},{"id":"91bcc1ca.eed5c","type":"JsonWebToken","z":"f87fa890.ddb298","name":"Test1","tokenconfig":"568ef2fa.6a0ecc","x":530,"y":380,"wires":[["1361b545.32800b"]]},{"id":"1361b545.32800b","type":"change","z":"f87fa890.ddb298","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":360,"wires":[["84947cde.7e10e8"]]},{"id":"84947cde.7e10e8","type":"http response","z":"f87fa890.ddb298","name":"","statusCode":"200","headers":{},"x":800,"y":460,"wires":[]},{"id":"97caa54a.ce1a6","type":"http in","z":"a80bbac.8c12748","name":"","url":"/encrypt","method":"get","upload":false,"swaggerDoc":"","x":190,"y":180,"wires":[["a1f64c60.51f46"]]},{"id":"a1f64c60.51f46","type":"JsonWebToken","z":"a80bbac.8c12748","name":"Test1","tokenconfig":"8c7094fc.14c18","x":450,"y":180,"wires":[["a54af683.4e47f"]]},{"id":"a54af683.4e47f","type":"change","z":"a80bbac.8c12748","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["7b4f3657.06d788","90f8521.49cdf3"]]},{"id":"11d183ee.e3bc34","type":"http in","z":"a80bbac.8c12748","name":"","url":"/decrypt","method":"post","upload":false,"swaggerDoc":"","x":190,"y":280,"wires":[["8b1629c1.a3b778"]]},{"id":"b00a1091.8f969","type":"JsonWebToken","z":"a80bbac.8c12748","name":"Test1","tokenconfig":"8c7094fc.14c18","x":450,"y":280,"wires":[["2ec7d164.ec294e"]]},{"id":"8b1629c1.a3b778","type":"function","z":"a80bbac.8c12748","name":"","func":"msg.payload = JSON.parse(msg.payload)\nmsg.token = msg.payload.access_token\n//console.log(msg.token)\ndelete msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["b00a1091.8f969","7d6a7ac6.3762fc"]]},{"id":"a324a6a9.5e77a8","type":"http response","z":"a80bbac.8c12748","name":"","statusCode":"200","headers":{},"x":780,"y":280,"wires":[]},{"id":"7b4f3657.06d788","type":"http response","z":"a80bbac.8c12748","name":"","statusCode":"200","headers":{"Content-Type":"application/json","Accept":"application/json"},"x":780,"y":180,"wires":[]},{"id":"263b138e.8bcb2c","type":"comment","z":"a80bbac.8c12748","name":"curl -i -H \"Accept: application/json\" http://127.0.0.1:1880/encrypt?name=john&iat=1480728610","info":"","x":440,"y":60,"wires":[]},{"id":"da1f3749.10d8a8","type":"comment","z":"a80bbac.8c12748","name":"curl -H \"Content-Type: application/json\" -X POST -d '{\"access_token\": \"eyJhbGciO\"}' http://127.0.0.1:1880/decrypt","info":"","x":480,"y":400,"wires":[]},{"id":"7d6a7ac6.3762fc","type":"debug","z":"a80bbac.8c12748","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":340,"wires":[]},{"id":"90f8521.49cdf3","type":"debug","z":"a80bbac.8c12748","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":120,"wires":[]},{"id":"2ec7d164.ec294e","type":"function","z":"a80bbac.8c12748","name":"","func":"msg.payload = msg.token;  \nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["a324a6a9.5e77a8","364c1361.0a02c4"]]},{"id":"364c1361.0a02c4","type":"debug","z":"a80bbac.8c12748","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":340,"wires":[]},{"id":"b83b9f23.022338","type":"node-red-contrib-httpauth","z":"8713357d.bbc24","name":"node-red-contrib-httpauth","file":"","cred":"3eb5423.243b83e","authType":"Basic","realm":"test","username":"username","password":"password","hashed":true,"x":370,"y":60,"wires":[["63f233c.a99a64c"]]},{"id":"a268f39e.5c9f38","type":"debug","z":"8713357d.bbc24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":80,"wires":[]},{"id":"9c9ed3fc.666f6","type":"http response","z":"8713357d.bbc24","name":"","statusCode":"200","headers":{"Content-Type":"application/json","Accept":"application/json"},"x":720,"y":140,"wires":[]},{"id":"63f233c.a99a64c","type":"template","z":"8713357d.bbc24","name":"JSON","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"{\n    \"req.headers.authorization\": \"{{req.headers.authorization}}\" \n}","x":530,"y":140,"wires":[["9c9ed3fc.666f6","a268f39e.5c9f38"]]},{"id":"75bffc7f.fbad1c","type":"http in","z":"8713357d.bbc24","name":"","url":"/code","method":"get","upload":false,"swaggerDoc":"","x":200,"y":140,"wires":[["b83b9f23.022338"]]},{"id":"8888443b.b90088","type":"inject","z":"cf9784ce.de7658","name":"Post fake","topic":"documents","payload":"{\"origin\":\"https://tuhrig.de/generating-pdfs-with-java-flying-saucer-and-thymeleaf/\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":140,"wires":[["4148cac7.a4310c"]]},{"id":"4148cac7.a4310c","type":"function","z":"cf9784ce.de7658","name":"POST","func":"msg.method = 'POST';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["9c85891e.c0cb98"]]},{"id":"9c85891e.c0cb98","type":"openid","z":"cf9784ce.de7658","name":"","openid":"","x":400,"y":140,"wires":[["bb3cb5ac.c707c"]]},{"id":"bb3cb5ac.c707c","type":"http request","z":"cf9784ce.de7658","name":"","method":"use","ret":"obj","url":"https://api.nunux.org/keeper/v2/{{{topic}}}","tls":"","x":550,"y":140,"wires":[["8ac9cd2a.843b2"]]},{"id":"8ac9cd2a.843b2","type":"debug","z":"cf9784ce.de7658","name":"","active":true,"console":"false","complete":"false","x":710,"y":140,"wires":[]},{"id":"23638370.ae989c","type":"comment","z":"cf9784ce.de7658","name":"https://flows.nodered.org/node/node-red-contrib-openid","info":"","x":320,"y":40,"wires":[]},{"id":"b4f8ea0.6db3898","type":"comment","z":"cf9784ce.de7658","name":"https://keeper.nunux.org/doc/fr/integration/nodered/","info":"","x":310,"y":220,"wires":[]},{"id":"e2c606a5.b4a778","type":"oauth2","z":"86c850e8.1a7f","name":"","container":"payload","access_token_url":"","grant_type":"set_by_credentials","username":"","password":"","client_id":"","client_secret":"","scope":"","x":450,"y":340,"wires":[["dd43a1a1.f328d8"]]},{"id":"cff8a2b6.324178","type":"inject","z":"86c850e8.1a7f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":340,"wires":[["3bcfe454.677e8c"]]},{"id":"3bcfe454.677e8c","type":"function","z":"86c850e8.1a7f","name":"oauth2Request","func":"msg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:9999/uaa/oauth/token\", \n    \"credentials\": {\n        \"grant_type\": \"password\",\n        \"username\": \"user\",\n        \"password\": \"password\",\n        \"client_id\": \"acme\",\n        \"client_secret\": \"acmesecret\",\n        \"scope\": \"openid\"\n    }\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":288,"y":340,"wires":[["e2c606a5.b4a778"]]},{"id":"22f596d.6efcf6a","type":"function","z":"86c850e8.1a7f","name":"oauth2Request","func":"msg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:9999/uaa/oauth/token\", \n    \"credentials\": {\n        \"grant_type\": \"authorization_code\",\n        \"client_id\": \"acme\",\n        \"client_secret\": \"acmesecret\",\n        \"redirect_uri\": \"http://0.0.0.0:1880/code\",\n        \"code\": `${flow.get(\"code\")}`,\n        \"scope\": \"openid\"\n    }\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":288,"y":268,"wires":[["e90b7bb8.281128"]]},{"id":"9f649718.c0ab48","type":"inject","z":"86c850e8.1a7f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":268,"wires":[["22f596d.6efcf6a"]]},{"id":"e90b7bb8.281128","type":"oauth2","z":"86c850e8.1a7f","name":"","container":"payload","access_token_url":"","grant_type":"set_by_credentials","username":"","password":"","client_id":"","client_secret":"","scope":"","x":450,"y":260,"wires":[["dd43a1a1.f328d8"]]},{"id":"fd5cd0e7.3211e","type":"oauth2","z":"86c850e8.1a7f","name":"","container":"payload","access_token_url":"","grant_type":"set_by_credentials","username":"","password":"","client_id":"","client_secret":"","scope":"","x":450,"y":412,"wires":[["dd43a1a1.f328d8"]]},{"id":"f069b294.468bb8","type":"function","z":"86c850e8.1a7f","name":"oauth2Request","func":"msg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:9999/uaa/oauth/token\", \n    \"credentials\": {\n        \"grant_type\": \"refresh_token\",\n        \"client_id\": \"acme\",\n        \"client_secret\": \"acmesecret\",\n        \"refresh_token\": `${flow.get(\"refresh_token\")}`,\n        \"scope\": \"openid\"\n    }\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":288,"y":412,"wires":[["fd5cd0e7.3211e"]]},{"id":"7f1d85d3.66eaf4","type":"debug","z":"86c850e8.1a7f","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":918,"y":340,"wires":[]},{"id":"43b32678.07fbe","type":"inject","z":"86c850e8.1a7f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":412,"wires":[["f069b294.468bb8"]]},{"id":"dd43a1a1.f328d8","type":"function","z":"86c850e8.1a7f","name":"Set refresh_token","func":"flow.get('refresh_token', function(err, refresh_token) {\n    if (err) {\n        node.error(err, msg);\n    } else {\n        // initialise the counter to 0 if it doesn't exist already\n        refresh_token = msg.payload.oauth2Response.body.refresh_token;\n        // store the value back\n        flow.set('refresh_token',refresh_token, function(err) {\n            if (err) {\n                node.error(err, msg);\n            } else {\n                // make it part of the outgoing msg object\n                msg.refresh_token = refresh_token;\n                // send the message\n                node.status({fill:\"green\",shape:\"dot\",text:`refresh_token: ${msg.refresh_token}`});\n                node.send(msg);\n            }\n        });\n    }\n});\n","outputs":1,"noerr":0,"x":730,"y":340,"wires":[["7f1d85d3.66eaf4"]]},{"id":"b4806dbd.90051","type":"inject","z":"86c850e8.1a7f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":124,"wires":[["ac0f6898.c9934"]]},{"id":"ac0f6898.c9934","type":"http request","z":"86c850e8.1a7f","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9999/uaa/oauth/authorize?response_type=code&client_id=acme&redirect_uri=http://0.0.0.0:1880/code","tls":"","proxy":"","authType":"basic","x":266,"y":124,"wires":[["11b25fff.04c068"]]},{"id":"d7bd0860.bec3f","type":"debug","z":"86c850e8.1a7f","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":594,"y":132,"wires":[]},{"id":"3df26160.a04796","type":"template","z":"86c850e8.1a7f","name":"page","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"{\n    \"code\": \"{{req.query.code}}\" \n}","x":218,"y":196,"wires":[["4781a6dc.33d1d8"]]},{"id":"b44c9903.674a6","type":"http in","z":"86c850e8.1a7f","name":"","url":"/code","method":"get","upload":false,"swaggerDoc":"","x":88,"y":196,"wires":[["3df26160.a04796"]]},{"id":"4781a6dc.33d1d8","type":"http response","z":"86c850e8.1a7f","name":"","statusCode":"200","headers":{"Content-Type":"application/json","Accept":"application/json"},"x":348,"y":196,"wires":[]},{"id":"11b25fff.04c068","type":"function","z":"86c850e8.1a7f","name":"Set code","func":"flow.get('code', function(err, code) {\n    if (err) {\n        node.error(err, msg);\n    } else {\n        // initialise the counter to 0 if it doesn't exist already\n        code = msg.payload.code;\n        // store the value back\n        flow.set('code',code, function(err) {\n            if (err) {\n                node.error(err, msg);\n            } else {\n                // make it part of the outgoing msg object\n                msg.code = code;\n                // send the message\n                node.status({fill:\"green\",shape:\"dot\",text:`code: ${msg.code}`});\n                node.send(msg);\n            }\n        });\n    }\n});\n","outputs":1,"noerr":0,"x":424,"y":124,"wires":[["d7bd0860.bec3f"]]},{"id":"5ca7a841.ffdad","type":"comment","z":"86c850e8.1a7f","name":"grant_type: authorization_code","info":"","x":158,"y":232,"wires":[]},{"id":"4c1680e4.8fbe48","type":"comment","z":"86c850e8.1a7f","name":"grant_type: password","info":"","x":128,"y":304,"wires":[]},{"id":"f800af9.b2f325","type":"comment","z":"86c850e8.1a7f","name":"grant_type: refresh_token","info":"","x":138,"y":376,"wires":[]},{"id":"327d6011.0e605","type":"comment","z":"86c850e8.1a7f","name":"http://localhost:9999/uaa/oauth/authorize?response_type=code&client_id=acme&redirect_uri=http://0.0.0.0:1880/code","info":"","x":418,"y":88,"wires":[]},{"id":"9cc25a7b.e978a8","type":"comment","z":"86c850e8.1a7f","name":"GET: http://0.0.0.0:1880/code","info":"","x":144,"y":160,"wires":[]},{"id":"61a3da79.c5b634","type":"function","z":"86c850e8.1a7f","name":"Set params","func":"var params = {};\nmsg.responseUrl.split(\"#\")[1].split(\"&\").forEach(function(part) {\n    var item = part.split(\"=\");\n    params[item[0]] = item[1];\n});\nparams['url'] = msg.responseUrl.split(\"#\")[0];\nmsg.payload.params = params;\nnode.status({fill:\"green\",shape:\"dot\",text:`access_token: ${msg.payload.params.access_token}`});\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":496,"wires":[["ded4a7ac.3f9628"]]},{"id":"83c36b81.5874a8","type":"http request","z":"86c850e8.1a7f","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://localhost:9999/uaa/oauth/authorize?response_type=token&client_id=acme&redirect_uri=http://0.0.0.0:1880/imp","tls":"","proxy":"","authType":"basic","x":290,"y":496,"wires":[["61a3da79.c5b634"]]},{"id":"ded4a7ac.3f9628","type":"debug","z":"86c850e8.1a7f","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":606,"y":496,"wires":[]},{"id":"1a252a24.4e2eae","type":"inject","z":"86c850e8.1a7f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":496,"wires":[["83c36b81.5874a8"]]},{"id":"8f0ede6c.fc1778","type":"http response","z":"86c850e8.1a7f","name":"","statusCode":"200","headers":{"Content-Type":"application/json","Accept":"application/json"},"x":244,"y":532,"wires":[]},{"id":"820ef1da.c53fc8","type":"http in","z":"86c850e8.1a7f","name":"","url":"/imp","method":"get","upload":false,"swaggerDoc":"","x":88,"y":532,"wires":[["8f0ede6c.fc1778"]]},{"id":"a65bf024.f44f3","type":"comment","z":"86c850e8.1a7f","name":"grant_type: implicit","info":"","x":118,"y":460,"wires":[]},{"id":"6e08258.6b1e65c","type":"comment","z":"86c850e8.1a7f","name":"http://localhost:9999/uaa/oauth/authorize?response_type=token&client_id=acme&redirect_uri=http://0.0.0.0:1880/imp","info":"","x":610,"y":460,"wires":[]},{"id":"6e229f8c.7ff938","type":"comment","z":"86c850e8.1a7f","name":"https://flows.nodered.org/node/node-red-contrib-oauth2","info":"","x":220,"y":40,"wires":[]},{"id":"82872da3.06a2c","type":"comment","z":"a0b71c89.393718","name":"https://flows.nodered.org/node/node-red-contrib-auth-oidc","info":"","x":290,"y":60,"wires":[]},{"id":"a2589388.6e63a8","type":"http in","z":"a0b71c89.393718","name":"","url":"/rrr","method":"get","upload":false,"swaggerDoc":"","x":200,"y":180,"wires":[["4df0d636.e6ea68"]]},{"id":"d132a4e3.4fbdb","type":"function","z":"a0b71c89.393718","name":"","func":"msg.payload = {\"status\":\"OK\"}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["113fc418.a71a1c","74378262.b08a7c"]]},{"id":"74378262.b08a7c","type":"debug","z":"a0b71c89.393718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":260,"wires":[]},{"id":"113fc418.a71a1c","type":"http response","z":"a0b71c89.393718","name":"","statusCode":"","headers":{},"x":820,"y":180,"wires":[]},{"id":"4df0d636.e6ea68","type":"auth-oidc","z":"a0b71c89.393718","name":"","discovery":"https://accounts.google.com/.well-known/openid-configuration","x":350,"y":180,"wires":[["d132a4e3.4fbdb"]]},{"id":"2652f83f.f4b44","type":"comment","z":"29a4dd0a.40d0c2","name":"TLS/SSL - Production","info":"http://www.steves-internet-guide.com/securing-node-red-ssl/\nhttps://github.com/node-red/cookbook.nodered.org/wiki/How-to-safely-expose-Node-RED-to-the-Internet\n In a production Node-RED container you should not be able to alter the application, so the editor needs to be disabled. This can be achieved by setting the httpAdminRoot property in the settings.js file to false\n \n\nSecuring Node-Red with SSL and Username Authentication\n\nnode-red-ssl-iconOut of the box your connection to node-red is insecure.\n\nIf you are exposing node-red to the Internet or just want a more secure installation then you can:\n\n    Enforce an SSL connection.\n    Require Username and Password Authentication\nNote:\n\nWhen configuring multiple security settings I try to  configure one security setting at a time and test it before configuring the next.\nConfiguring SSL\n\nTo do that you will need to install a certificate and key on your node-red server.\n\nIn this tutorial we will be using a self signed certificate which we will create ourselves using openssl and I will be using raspberry pi to host node red.\nCreating a Self Signed Certificate\n\n1.Create a private key\n\nopenssl genrsa -out node-key.pem 2048\n\n2. Create a certificate Request\n\nopenssl req -new -sha256 -key node-key.pem -out node-csr.pem\n\nYou will need to fill out a form the most important entry is near the end and is the common name field.\n\nThis should be the FQDN of the server hosting nod-red or the IP address. I used raspberrypi.home\n\n3. Sign the Certificate with the Private key to create a self signed Certificate\n\nopenssl x509 -req -in node-csr.pem -signkey node-key.pem -out node-cert.pem\n\nNote: I created my files in  sub folder of my .node-red folder called nodecerts.\nEditing the Node-Red Settings File\n\nI recommend you use your own settings file while you are trying this. You can copy the settings file to the default location when you have tested the configuration.\n\nThe default settings file is called settings.js located in /usr/lib/node-modules/node-red/ folder by default. (Raspberry pi).\n\nI copied this to my .node-red folder and renamed it mysettings.js.\n\nYou need to do the following:\n\nun-comment the line\n\nvar fs=require(\"fs\")\n\nWhich is near the top of the file.\n\nIn the AdminAuth section un-comment the https section and edit as shown in the screenshot below:\n\nnodered-ssl-config\n\nThere is another setting\n\nrequireHttps: true,\n\nNote: there should be a comma at the end\n\nThis should cause a redirect to https if you try connecting to http.\n\nNote:I didnt get this to work with SSL so you may need to skip this.\n\nYou can now start node-red using:\n\nnode-red -s mysettings.js\n\nNow when you connect using the browser you should get a certificate warning which you can override.\n\nssl-browser-warning\nUsername and Password Authentication\n\nThe Node-Red Editor and Admin API support two types of authentication:\n\n    username/password credential based authentication\n    OAuth/OpenID  authentication -since Node-RED 0.17:\n\nOn node-red there are three places were you can configure/require authentication.\n\n    The Admin console- Node red editor\n    Nodes\n    Static Pages\n\nIn this section we will look at username and password authentication for the admin console.\n\nThe default settings file has a section called Securing node red which is commented out and serves as a template.\n\nnode-red-settings-security\n\nThe default entry shows the userAdmin with a password of password (hashed) and all permissions (* wildcard).\n\nYou can create additional users by copying the users section and editing accordingly.\n\nnode-red-user-security\n\nNote: The password hash for steve is different than that of admin,but the actual password is the same. This is how the bcrypt algorithm works\n\nSteve has got read permissions which means that he cannot edit or create new flows.\nGenerating Passwords\n\nYou can create passwords for use in the settings file by using the admin command line hash-pw command as follows:\n\nnode-red-rcreate-password\n\nIf you right click on the password you can copy it using CRT+C.\n\nWhen you try to connect to the admin page you should get a login screen.\n\nnode-red-login-screen\n\nYou can also use online bcrypt tools for creating the passwords like this one.\nSecuring The Dashboard\n\nTo secure the node-red dashboard use the httpNodeAuth setting.\n\nOnly a single user account is allowed.\n\nhttpNodeAuth: {user:\"fred\",pass:\"$2a$04$3gkGX/Q4VZ//F37kWvSU9eE9EM1WO2rdWk1oj/kfXIbeBON5eA56S\"},\n\nYou create the passwords using the hash-pw command line tools as before.\n\nWhen you try and access the page you should be prompted to login.\n\nsecure-node-red-dashboard\nSecuring Static Pages\n\nNode-red can serve static web pages. These web pages are served from the usr/lib/node-modules/public folder by default.\n\nYou can change to location by using the httpStatic setting in the settings file.\n\nGenerally you would want to move it to a folder in your home directory e.g.\n\nhttpStatic /home/steve/.node-red/node-red-static/\n\nYou can secure this folder using the httpStaticAuth setting.\n\nhttpStaticAuth:{user:\"fred\",pass:\"$2a$04$3gkGX/Q4VZ//F37kWvSU9eE9EM1WO2rdWk1oj/kfXIbeBON5eA56S\"},\n\nYou create the passwords using the hash-pw command line tools as before.\n\nWhen you try to access the page you should be prompted to login.node-red-static-login\nNote: Only a single account is possible. It also appears to clash with the httpNodeAuth setting which is used to secure the dashboard.\nIf using both use the same username and password for both.\nSummary\n\nOn a working system tightening the security on your node-red installation is important.\n\n\n","x":440,"y":100,"wires":[]}]