Node-red/projects/SmartKociol/SmartKociol.json
[{"id":"a2fb3140.d31d2","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"3c0fc348.ed65bc","type":"tab","label":"PID controller with PWM","disabled":false,"info":"**Proportional Integral Derivative (PID) contoller with Pulse Width Modulation (PWM)**\n\nA **Proportional Integral Derivative** controller (**PID** controller or three term controller) is a control loop feedback mechanism widely used in industrial control systems and a variety of other applications requiring continuously modulated control. A PID controller continuously calculates an error value e(t) as the difference between a desired setpoint (SP) and a measured process variable (PV) and applies a correction based on proportional, integral, and derivative terms (denoted P, I, and D respectively) which give the controller its name.\n\n**Pulse Width Modulation (PWM)** is an on / off action that differs from an on / off differential by changing the length of the “on” time based on how much the actual temperature differs from the desired.\n\n"},{"id":"7d1f0f0b.e99f","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"e2f08b3.39222f8","type":"tab","label":" Node-Red device simulator","disabled":false,"info":""},{"id":"d19f7dfb.d21188","type":"tab","label":"SmartKocioł","disabled":false,"info":""},{"id":"7cf071bd.ec4028","type":"tab","label":"localstorage","disabled":false,"info":""},{"id":"6012c47b.bfa974","type":"ui_tab","z":"","name":"kocioł","icon":"dashboard","disabled":false,"hidden":false},{"id":"af34f740.9cc26","type":"ui_group","z":"","name":"Kocioł","tab":"6012c47b.bfa974","disp":true,"width":"6","collapse":false},{"id":"86af2cd7.ff77e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"17b041f5.b5d0ee","type":"mongodb2","z":"","uri":"${DB_URL}","name":"${DB_NAME}","options":"","parallelism":"-1"},{"id":"6c381c0b.c05054","type":"redis-config","z":"","name":"remote","options":"REDIS_URL","cluster":false,"optionsType":"env"},{"id":"6935ac36.8888fc","type":"PID","z":"3c0fc348.ed65bc","name":"","setpoint":"28","pb":1,"ti":"600","td":"100","integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":1,"disabled_op":0,"x":410,"y":180,"wires":[["c890dc72.510f98","af62ec70.a7e198"]]},{"id":"c890dc72.510f98","type":"timeprop","z":"3c0fc348.ed65bc","name":"PWM","cycleTime":600,"deadTime":0,"triggerPeriod":10,"invert":false,"x":570,"y":160,"wires":[["b6e09500.c6c87"]]},{"id":"76bdd7f7.8623a","type":"comment","z":"3c0fc348.ed65bc","name":"PID controller with PWM for control of real world processes (heating a hot tub e.g.).","info":"**Proportional Integral Derivative (PID) contoller with Pulse Width Modulation (PWM)**\n\nA **Proportional Integral Derivative** controller (**PID** controller or three term controller) is a control loop feedback mechanism widely used in industrial control systems and a variety of other applications requiring continuously modulated control. A PID controller continuously calculates an error value e(t) as the difference between a desired setpoint (SP) and a measured process variable (PV) and applies a correction based on proportional, integral, and derivative terms (denoted P, I, and D respectively) which give the controller its name.\n\n**Pulse Width Modulation (PWM)** is an on / off action that differs from an on / off differential by changing the length of the “on” time based on how much the actual temperature differs from the desired.\n\n","x":330,"y":100,"wires":[]},{"id":"bcec66c3.6c1708","type":"comment","z":"3c0fc348.ed65bc","name":"This flow is untested, if you test and find it useful, please give send feedback to: dev.proknx@gmail.com","info":"","x":390,"y":60,"wires":[]},{"id":"d43ec996.d40358","type":"switch","z":"7d1f0f0b.e99f","name":"","property":"payload.Temperature","propertyType":"msg","rules":[{"t":"gte","v":"21","vt":"num"},{"t":"lt","v":"21","vt":"str"},{"t":"gt","v":"22","vt":"num"},{"t":"lte","v":"22","vt":"str"}],"checkall":"true","outputs":4,"x":390,"y":120,"wires":[["3c722ae2.c1039e"],["2df1445e.828a74"],["3bf0fd8e.269f5a"],["490e8f52.4ef9f8"]]},{"id":"f4ccf6e6.83afc8","type":"inject","z":"7d1f0f0b.e99f","name":"Low 18","topic":"","payload":"{\"Temperature\":18}","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":60,"wires":[["d43ec996.d40358"]]},{"id":"2d4c69ae.bb2f1e","type":"inject","z":"7d1f0f0b.e99f","name":"Good 21.5","topic":"","payload":"{\"Temperature\":21.5}","payloadType":"json","repeat":"","crontab":"","once":false,"x":180,"y":120,"wires":[["d43ec996.d40358"]]},{"id":"bc9896b8.1cb1e","type":"inject","z":"7d1f0f0b.e99f","name":"High 23","topic":"","payload":"{     \"Temperature\": 23 }","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":180,"wires":[["d43ec996.d40358"]]},{"id":"37364117.6bbd56","type":"debug","z":"7d1f0f0b.e99f","name":"Replace by HTTP node","active":true,"tosidebar":true,"console":false,"complete":"true","x":950,"y":100,"wires":[]},{"id":"ced24e88.afbb68","type":"debug","z":"7d1f0f0b.e99f","name":"Replace by HTTP node","active":true,"console":"false","complete":"true","x":950,"y":160,"wires":[]},{"id":"2df1445e.828a74","type":"trigger","z":"7d1f0f0b.e99f","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"s","reset":"stop low","name":"Activate Low","x":710,"y":100,"wires":[["37364117.6bbd56"]]},{"id":"3bf0fd8e.269f5a","type":"trigger","z":"7d1f0f0b.e99f","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"s","reset":"stop high","name":"Activate High","x":710,"y":160,"wires":[["ced24e88.afbb68"]]},{"id":"3c722ae2.c1039e","type":"change","z":"7d1f0f0b.e99f","name":"Stop Low","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":60,"wires":[["2df1445e.828a74"]]},{"id":"490e8f52.4ef9f8","type":"change","z":"7d1f0f0b.e99f","name":"Stop High","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop high","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":200,"wires":[["3bf0fd8e.269f5a"]]},{"id":"b6e09500.c6c87","type":"debug","z":"3c0fc348.ed65bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":240,"wires":[]},{"id":"1468bb69.8e9625","type":"inject","z":"3c0fc348.ed65bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["5fb1015c.100b1"]]},{"id":"330f3e48.b71832","type":"data-generator","z":"a2fb3140.d31d2","name":"","field":"payload","fieldType":"msg","syntax":"text","template":"{\n    \"name\": \"{{firstName}} {{lastName}}\",\n    \"work\": \"{{company}}\",\n    \"email\": \"{{email}}\",\n    \"address\": \"{{int 1 100}} {{street}}\",\n    \"country\": \"{{country}}\"\n}","x":320,"y":120,"wires":[["b01d1385.d257f8"]]},{"id":"b94f19fa.204e6","type":"inject","z":"a2fb3140.d31d2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["330f3e48.b71832"]]},{"id":"b01d1385.d257f8","type":"debug","z":"a2fb3140.d31d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":140,"wires":[]},{"id":"146e9838.50c05","type":"data-generator","z":"a2fb3140.d31d2","name":"","field":"payload","fieldType":"msg","syntax":"text","template":"{\n    \"name\": \"{{firstName}} {{lastName}}\",\n    \"work\": \"{{company}}\",\n    \"email\": \"{{email}}\",\n    \"address\": \"{{int 1 100}} {{street}}\",\n    \"country\": \"{{country}}\"\n}","x":320,"y":200,"wires":[[]]},{"id":"5fb1015c.100b1","type":"data-generator","z":"3c0fc348.ed65bc","name":"","field":"payload","fieldType":"msg","syntax":"text","template":"{{int 25 30}}","x":240,"y":260,"wires":[["fc06a3c1.f2fd2","6935ac36.8888fc"]]},{"id":"af62ec70.a7e198","type":"debug","z":"3c0fc348.ed65bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":300,"wires":[]},{"id":"fc06a3c1.f2fd2","type":"debug","z":"3c0fc348.ed65bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":360,"wires":[]},{"id":"aba6d05d.1279c8","type":"inject","z":"e2f08b3.39222f8","name":"CON123","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":192,"y":312,"wires":[["2c8e395e.4f7ce6"]]},{"id":"2c8e395e.4f7ce6","type":"function","z":"e2f08b3.39222f8","name":"Asset payload","func":"var asset = \"CON123\";\nvar longitude1 = [-98.49,-97.74,-96.79,-94.20,-90.19,-94.57,-87.62,-87.90,-93.26,-95.99];\nvar latitude1  = [29.42,30.26,32.77,36.37,38.62,39.09,41.87,43.03,44.97,41.25];\nvar temperature1 = context.get('temperature1')||-5;\nvar carrier1 = \"C-ABC\";\n\n\ntemperature1 = temperature1+1;\nif(temperature1 > 5) temperature1=-5;\ncontext.set('temperature1',temperature1);\n\nvar counter1     = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\nmsg = {\n    \tpayload: JSON.stringify(\n    \t    { d:{\n                 \"assetID\" : asset,\n                 \"location\" : \n                    {\n                    \"longitude\" : longitude1[counter1],\n    \t            \"latitude\" : latitude1[counter1]\n                    },\n                 \"temperature\" : temperature1,\n    \t         \"carrier\" : carrier1\n    \t    }\n    \t    }\n         )\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":155,"wires":[["accccc54.0cc61"]]},{"id":"accccc54.0cc61","type":"debug","z":"e2f08b3.39222f8","name":"","active":true,"console":"false","complete":"false","x":350,"y":431,"wires":[]},{"id":"3652a57c.e34912","type":"comment","z":"e2f08b3.39222f8","name":"Configure Publish to IoT for your environment","info":"1. Double click the node.\n2. Click the edit icon next to the Server field.\n3. Update the Server name to correspond to your IoT Platform organization.\n    `organization_ID.messaging.internetofthings.ibmcloud.com`\n\n4. Update the Client ID with your orgainzaiton ID, device type, and device ID:\n    `d:organization_ID:device_type:device_ID`\n\n5. Click the Security tab.\n6. Verify that the Username field has the value use-auth-token.\n7. Update the Password field with the Authentication Token that you saved earlier.\n8 Click Update and then OK.\n9 In the upper right corner of the Node-RED flow editor, click Deploy. ","x":670,"y":288,"wires":[]},{"id":"b17ed11d.9c8fc8","type":"comment","z":"e2f08b3.39222f8","name":"Function Node","info":"The Function node allows you to pass each message though a JavaScript function.\nCopy the following code.\n\nvar asset = \"CON123\";\nvar longitude1 = [\"-98.49\",\"-97.74\",\"-96.79\",\"-94.20\",\"-90.19\",\"-94.57\",\"-87.62\",\"-87.90\",\"-93.26\",\"-95.99\"];\nvar latitude1  = [\"29.42\",\"30.26\",\"32.77\",\"36.37\",\"38.62\",\"39.09\",\"41.87\",\"43.03\",\"44.97\",\"41.25\"];\nvar temperature1 = context.get('temperature1')||-5;\nvar carrier1 = \"C-ABC\";\n\n\ntemperature1 = temperature1+1;\nif(temperature1 > 5) temperature1=-5;\ncontext.set('temperature1',temperature1);\n\nvar counter1     = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\nmsg = {\n    \tpayload: JSON.stringify(\n    \t    { d:{\n                 \"assetID\" : asset,\n                 \"location\" : \n                    {\n                    \"longitude\" : longitude1[counter1],\n    \t            \"latitude\" : latitude1[counter1]\n                    },\n                 \"temperature\" : temperature1,\n    \t         \"carrier\" : carrier1\n    \t    }\n    \t    }\n         )\n}\n\nreturn msg;","x":371,"y":124,"wires":[]},{"id":"3b609077.e32f78","type":"comment","z":"e2f08b3.39222f8","name":"Debug Node","info":"The Debug node causes any message to be displayed in the Debug sidebar. By default, it just displays the payload of the message, but it is possible to display the entire message object.","x":350,"y":461,"wires":[]},{"id":"7cb2429.f47003c","type":"comment","z":"e2f08b3.39222f8","name":"Inject Node","info":"The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.","x":175,"y":283,"wires":[]},{"id":"427e1368.64934c","type":"inject","z":"d19f7dfb.d21188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":480,"wires":[["fcab17b6.48f6b"]]},{"id":"bba34cb5.b57f88","type":"function","z":"d19f7dfb.d21188","name":"Bramka","func":"node.status({text:msg.topic});\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":260,"wires":[["8fe1bf6.80e9b4"]]},{"id":"8fe1bf6.80e9b4","type":"function","z":"d19f7dfb.d21188","name":"Kolekcja","func":"node.status({text:msg.topic});\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":380,"wires":[["62a8f394.532bcc","a1b03de1.691958"]]},{"id":"a1b03de1.691958","type":"function","z":"d19f7dfb.d21188","name":"Analiza strumienia","func":"node.status({text:msg.topic});\nvar tempReturn = msg.payload.tempReturn\nvar assetID =  msg.payload.assetID\nvar action = 0\n\nif (tempReturn <= 54) {\naction = 54-tempReturn\n} else if (tempReturn >= 56) {\naction = 56- tempReturn\n} else {\naction = 0\n}\n\nmsg = {\n    \"topic\":\"deviceCommand\",\n    \"payload\": { \n    \"action\":action,\n    \"assetID\":msg.payload.assetID }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["33c36185.6fcca6","d4c96301.d5c74"]]},{"id":"33c36185.6fcca6","type":"function","z":"d19f7dfb.d21188","name":"Komendy","func":"node.status({text:msg.topic});\nvar command_id = uuidv4()\nvar assetID = msg.payload.assetID\nvar action = msg.payload.action\nmsg = {\n    \tpayload: {\n                \"commandId\": command_id,\n    \t        \"commandType\": \"deviceCommand\",\n    \t        \"actions\": action,\n    \t        \"assetID\" : assetID,\n                \"timestamp\":Date.now()\n    \t    }\n}\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["bec78be6.115b8"]]},{"id":"1a7e4f8e.c156a","type":"comment","z":"e2f08b3.39222f8","name":"Parametry","info":"\nfeederWorkingTime  - czas pracy podajnika to 15 sekund w trybie pracy,\nfeederStandstill - czas przerwy podajnika - 45 sekund w trybie pracy,\nfeederWorkingTimeSustain -    czas pracy podajnika w trybie podtrzymania podajnika - 20 minut, pamiętając aby przestój podajnika i dmuchawy w czasie podtrzymywania nie był dłuższy niż 20 min, gdyż może spowodować wychłodzenie niespalonego paliwa,\nfanSpeed - obroty wentylatora 30% w trybie pracy,\nfanSpeedSustain - obroty wentylatora w trybie podtrzymania to 43%,\nfanSpeedOvertakingSustain - wyprzedzenie wentylatora w trybie podtrzymania - 10 sekund,\nfanSpeedDelaySustain - opóźnienie wentylatora w trybie podtrzymania to 10 sekun\ntempPowerOn - temperatura załączania pompy - 42 stopnie,\n\n\ntempFlow  – temperatura obiegu, czyli temperatura na wyjściu z kotła, zasilania (do centralnego ogrzewania lub obiegu bojlera, zależnie od aktualnego ustawienia zaworu)\ntempCO – oczekiwana temperatura obiegu centralnego ogrzewania, wynikająca przede wszystkim z krzywej grzewczej przy sterowaniu pogodowym\ntempCWU – temperatura w zasobniku ciepłej wody użytkowej\ntempReturn – temperatura powrotu do kotła\ntempOutdoorsSensor – temperatura zewnętrzna\ntempIndorSensor – temperatura wewnętrzna\ntempExhaust- temperatura spalin mierzoną na wylocie z kotła\ntempModulationDesired – zadana aktualna moc kotła w procentach, czyli informacja z jaką aktualnie mocą pracuje palnik, o ile pracuje\nisFlame – informacja o obecności płomienia (czy kocioł aktualnie podgrzewa wodę)\nwaterPressure – ciśnienie wody w instalacji\npumpPower – moc, z jaką pracuje aktualnie pompa; od tego zależy prędkość przepływu wody w instalacji oraz zużycie prądu\n\n\n","x":680,"y":140,"wires":[]},{"id":"af8fc530.1df2c8","type":"function","z":"e2f08b3.39222f8","name":"","func":"var feederWorkingTime = 15\nvar feederStandstill = 45 \nvar fanSpeed = 0.3\n\nvar tempExitFlow = 65\nvar tempReturn = 58\nvar tempExhaust = 200\nvar tempOutdoorsSensor = 5\nvar tempIndorSensor =  24\n\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":100,"wires":[[]]},{"id":"a9f99094.02d3c8","type":"inject","z":"7d1f0f0b.e99f","name":"18","topic":"","payload":"{\"Id\":\"ID\",\"Name\":\"AirConditioner( MITSUBISHI ELECTRIC MSZ-FH25VE)\",\"Serial\":\"Serial\",\"DeviceEnergyType\":1,\"FamilyType\":1,\"ActivePower\":0.00068,\"ActivePowerUnit\":\"kW\",\"CounterReading\":1632.542,\"CounterReadingUnit\":\"kWh\",\"CounterReadingT1\":1632.542,\"SwitchOn\":true,\"Voltage\":248.9,\"VoltageL1\":248.9,\"Current\":0.022,\"PowerFactor\":0.123,\"PowerFactorL1\":0.123,\"Temperature\":18,\"ValueDate\":\"2018-03-14T16:36:33.416476\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":300,"wires":[["904dea97.64025"]]},{"id":"64f47b8a.7594f4","type":"debug","z":"7d1f0f0b.e99f","name":"","active":true,"console":"false","complete":"true","x":970,"y":540,"wires":[]},{"id":"7367671b.32c708","type":"debug","z":"7d1f0f0b.e99f","name":"","active":true,"console":"false","complete":"true","x":970,"y":480,"wires":[]},{"id":"54c2eed3.6c74a8","type":"inject","z":"7d1f0f0b.e99f","name":"21.5","topic":"","payload":"{\"Id\":\"ID\",\"Name\":\"AirConditioner( MITSUBISHI ELECTRIC MSZ-FH25VE)\",\"Serial\":\"Serial\",\"DeviceEnergyType\":1,\"FamilyType\":1,\"ActivePower\":0.00068,\"ActivePowerUnit\":\"kW\",\"CounterReading\":1632.542,\"CounterReadingUnit\":\"kWh\",\"CounterReadingT1\":1632.542,\"SwitchOn\":true,\"Voltage\":248.9,\"VoltageL1\":248.9,\"Current\":0.022,\"PowerFactor\":0.123,\"PowerFactorL1\":0.123,\"Temperature\":21.5,\"ValueDate\":\"2018-03-14T16:36:33.416476\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":340,"wires":[["904dea97.64025"]]},{"id":"7d9ab1fe.44e6c","type":"inject","z":"7d1f0f0b.e99f","name":"23","topic":"","payload":"{\"Id\":\"ID\",\"Name\":\"AirConditioner( MITSUBISHI ELECTRIC MSZ-FH25VE)\",\"Serial\":\"Serial\",\"DeviceEnergyType\":1,\"FamilyType\":1,\"ActivePower\":0.00068,\"ActivePowerUnit\":\"kW\",\"CounterReading\":1632.542,\"CounterReadingUnit\":\"kWh\",\"CounterReadingT1\":1632.542,\"SwitchOn\":true,\"Voltage\":248.9,\"VoltageL1\":248.9,\"Current\":0.022,\"PowerFactor\":0.123,\"PowerFactorL1\":0.123,\"Temperature\":23,\"ValueDate\":\"2018-03-14T16:36:33.416476\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":380,"wires":[["904dea97.64025"]]},{"id":"904dea97.64025","type":"function","z":"7d1f0f0b.e99f","name":"Temp only","func":"msg.payload = msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["14487ddd.4bc27a"]]},{"id":"14487ddd.4bc27a","type":"switch","z":"7d1f0f0b.e99f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"21","vt":"num"},{"t":"lt","v":"21","vt":"str"},{"t":"gt","v":"22","vt":"num"},{"t":"lte","v":"22","vt":"str"}],"checkall":"true","outputs":4,"x":230,"y":500,"wires":[["96b0eeda.691b7"],["d049b9d2.fa64f"],["8dba745a.a375f8"],["d056d74c.523818"]]},{"id":"d049b9d2.fa64f","type":"trigger","z":"7d1f0f0b.e99f","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"s","reset":"stop low","name":"Activate Low","x":590,"y":480,"wires":[["d0923a6c.9869b"]]},{"id":"8dba745a.a375f8","type":"trigger","z":"7d1f0f0b.e99f","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"5","extend":false,"units":"s","reset":"stop high","name":"Activate High","x":590,"y":540,"wires":[["1b344b57.becfc5"]]},{"id":"96b0eeda.691b7","type":"change","z":"7d1f0f0b.e99f","name":"Stop Low","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":460,"wires":[["d049b9d2.fa64f"]]},{"id":"1b344b57.becfc5","type":"change","z":"7d1f0f0b.e99f","name":"Set to 0 (OFF)","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"DeviceID\":\"0b625d5d-ac87-4e9b-80b9-6c4d1aa61f9e\",\"Actions\":[{\"ObisCode\":\"63000C0001FF\",\"Value\":0}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":540,"wires":[["64f47b8a.7594f4"]]},{"id":"d0923a6c.9869b","type":"change","z":"7d1f0f0b.e99f","name":"Set to 1 (ON)   ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"DeviceID\":\"0b625d5d-ac87-4e9b-80b9-6c4d1aa61f9e\",\"Actions\":[{\"ObisCode\":\"63000C0001FF\",\"Value\":1}]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":480,"wires":[["7367671b.32c708"]]},{"id":"eb4d0ba6.3048c8","type":"smooth","z":"7d1f0f0b.e99f","name":"","property":"payload","action":"mean","count":"10","round":"1","mult":"single","x":500,"y":400,"wires":[[]]},{"id":"d056d74c.523818","type":"change","z":"7d1f0f0b.e99f","name":"Stop High","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop high","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":560,"wires":[["8dba745a.a375f8"]]},{"id":"7146d76e.22116","type":"comment","z":"7d1f0f0b.e99f","name":"left out for testing ","info":"","x":680,"y":360,"wires":[]},{"id":"bec78be6.115b8","type":"debug","z":"d19f7dfb.d21188","name":"deviceCommand","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":80,"wires":[]},{"id":"fcab17b6.48f6b","type":"function","z":"d19f7dfb.d21188","name":"Kocioł","func":"msg.topic=\"deviceEvent\"\nnode.status({text:msg.topic});\nvar assetID = \"Dev\"+getRandom(1, 3).toPrecision(1)\nvar tempExitFlow = getRandom(60, 70).toPrecision(2)\nvar tempReturn = getRandom(50, 60).toPrecision(2)\nvar tempExhaust = getRandom(200, 400).toPrecision(3)\nvar event_id = uuidv4()\nmsg = {\n    \tpayload:  {   \"eventId\": event_id,\n    \t        \"eventType\": \"deviceData\",\n    \t        \"assetID\" : assetID,\n                \"tempExitFlow\" : tempExitFlow,\n                \"tempReturn\" : tempReturn,\n                \"tempExhaust\" : tempExhaust,\n                \"timestamp\":Date.now()\n    \t    }\n\n        \n}\n\n\nfunction getRandom(min, max) {\n  return Math.random() * (max - min) + min;\n}\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":360,"wires":[["bba34cb5.b57f88"]]},{"id":"49033bc2.16feac","type":"debug","z":"d19f7dfb.d21188","name":"deviceEvent","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":440,"wires":[]},{"id":"31fdf886.b90478","type":"function","z":"7cf071bd.ec4028","name":"Set Payload","func":"var LocalStorage = global.get('localstorage').LocalStorage;\nvar localStorage = new LocalStorage('./store');\nvar key = msg.payload.assetID\n\nstoreInLocalStorage(key, msg.payload);\n\nfunction storeInLocalStorage(item, keyAndValue) {\n    var data = localStorage.getItem(item);\n    data = data ? JSON.parse(data) : [];\n    data.push(keyAndValue);\n    localStorage.setItem(item, JSON.stringify(data));\n}\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["f30785f8.22271"]]},{"id":"dabc6e8c.e76ad8","type":"function","z":"7cf071bd.ec4028","name":"Get Payload","func":"var LocalStorage = global.get('localstorage').LocalStorage;\nvar localStorage = new LocalStorage('./store');\n\nvar key = msg.payload.assetID\n\nif (key === \"\"||key === undefined) {\n\nmsg.payload = null\n\n} else {\n\nvar data = localStorage.getItem(key);\ndata = data ? JSON.parse(data) : [];\nmsg.payload = data\n\n}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["f30785f8.22271"]]},{"id":"69b6800c.81ae3","type":"function","z":"7cf071bd.ec4028","name":"Clear Payload","func":"var LocalStorage = global.get('localstorage').LocalStorage;\nvar localStorage = new LocalStorage('./store');\n\nlocalStorage.clear();\nmsg.payload = true\n\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["f30785f8.22271"]]},{"id":"58ecc1f3.80631","type":"function","z":"7cf071bd.ec4028","name":"Delete Payload","func":"var LocalStorage = global.get('localstorage').LocalStorage;\nvar localStorage = new LocalStorage('./store');\n\nvar key = msg.payload.assetID\n\nif (key === \"\"||key === undefined) {\n\nmsg.payload = false\n\n\n} else {\nlocalStorage.removeItem(key);\nmsg.payload = true\n}\n\n\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":600,"y":400,"wires":[["f30785f8.22271"]]},{"id":"d9ca7cff.57b438","type":"comment","z":"7cf071bd.ec4028","name":"","info":"var existing = localStorage.getItem('myFavoriteSandwich');\n\n// If no existing data, create an array\n// Otherwise, convert the localStorage string to an array\nexisting = existing ? existing.split(',') : [];\n\n// Add new data to localStorage Array\nexisting.push('tuna');\n\n// Save back to localStorage\nlocalStorage.setItem('myFavoriteSandwich', existing.toString());\n\nhttps://laracasts.com/discuss/channels/javascript/append-object-to-localstorage","x":980,"y":60,"wires":[]},{"id":"1a790cff.2bedc3","type":"function","z":"7cf071bd.ec4028","name":"Kocioł","func":"//var asset = \"Dev\"+getRandom(1, 3).toPrecision(1)\nvar asset = \"Dev1\"\nvar tempExitFlow = getRandom(60, 70).toPrecision(2)\nvar tempReturn = getRandom(50, 60).toPrecision(3)\nvar tempExhaust = getRandom(200, 400).toPrecision(3)\nvar event_id = uuidv4()\nmsg = {\n    \tpayload:  {   \"eventId\": event_id,\n    \t        \"eventType\": \"deviceData\",\n    \t        \"assetID\" : asset,\n                \"tempExitFlow\" : tempExitFlow,\n                \"tempReturn\" : tempReturn,\n                \"tempExhaust\" : tempExhaust,\n                \"timestamp\":Date.now()\n    \t    }\n\n        \n}\nmsg.topic=\"deviceData\"\n\nfunction getRandom(min, max) {\n  return Math.random() * (max - min) + min;\n}\n\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["31fdf886.b90478"]]},{"id":"8c25b270.97252","type":"inject","z":"7cf071bd.ec4028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":160,"wires":[["1a790cff.2bedc3"]]},{"id":"f30785f8.22271","type":"debug","z":"7cf071bd.ec4028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":280,"wires":[]},{"id":"fb657263.48a948","type":"inject","z":"7cf071bd.ec4028","name":"Get All Dev1","topic":"","payload":"{\"assetID\":\"Dev1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["dabc6e8c.e76ad8"]]},{"id":"95c119dc.6a04c","type":"inject","z":"7cf071bd.ec4028","name":"Delete Dev1","topic":"","payload":"{\"assetID\":\"Dev1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":400,"wires":[["58ecc1f3.80631"]]},{"id":"fcf06750.26fad","type":"inject","z":"7cf071bd.ec4028","name":"Clear All","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":480,"wires":[["69b6800c.81ae3"]]},{"id":"a2f0d598.b3f68","type":"function","z":"7cf071bd.ec4028","name":"Get Payload  tempExitFlow < filters","func":"var LocalStorage = global.get('localstorage').LocalStorage;\nvar localStorage = new LocalStorage('./store');\n\nvar key = msg.payload.assetID\nvar par = msg.payload.filters\n\nif (key === \"\"||key === undefined) {\nmsg.payload = null\n} else {\n\nvar datas = localStorage.getItem(key);\ndatas = datas ? JSON.parse(datas) : [];\n\nvar newArray = datas.filter(function (data) {\n  return  data.tempExitFlow < par;\n});\n\nmsg.payload = newArray\n\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":320,"wires":[["f30785f8.22271"]]},{"id":"cb30973c.6985b8","type":"inject","z":"7cf071bd.ec4028","name":"Get Dev1 filters = 65","topic":"","payload":"{\"assetID\":\"Dev1\",\"filters\":65}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["a2f0d598.b3f68"]]},{"id":"62a8f394.532bcc","type":"function","z":"d19f7dfb.d21188","name":"Set Payload","func":"node.status({text:msg.topic});\nvar LocalStorage = global.get('localstorage').LocalStorage;\nvar localStorage = new LocalStorage('./store');\nvar key = msg.payload.assetID\n\nstoreInLocalStorage(key, msg.payload);\n\nfunction storeInLocalStorage(item, keyAndValue) {\n    var data = localStorage.getItem(item);\n    data = data ? JSON.parse(data) : [];\n    data.push(keyAndValue);\n    localStorage.setItem(item, JSON.stringify(data));\n}\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["49033bc2.16feac"]]},{"id":"d4c96301.d5c74","type":"debug","z":"d19f7dfb.d21188","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":360,"wires":[]}]