K8s/NodejsMongo/nodered/flows.json
[{"id":"e8108a8b.15e968","type":"tab","label":"mongo_origin","disabled":true,"info":""},{"id":"660d3a42.58100c","type":"tab","label":"mongo","disabled":false,"info":""},{"id":"65331cd1.56011c","type":"tab","label":"redis","disabled":false,"info":""},{"id":"99dd489a.f90b3","type":"mongodb2","z":"","uri":"${DB_URL}","name":"${DB_NAME}","options":"","parallelism":"-1"},{"id":"ccaf0224.cb61f","type":"redis-config","z":"","name":"remote","options":"REDIS_URL","cluster":false,"optionsType":"env"},{"id":"152fcc71.5fadc4","type":"redis-config","z":"","name":"Local","options":"REDIS_URL","cluster":false,"optionsType":"env"},{"id":"f8dfa0f9.43a0e","type":"mongodb2 in","z":"e8108a8b.15e968","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"find.toArray","x":920,"y":320,"wires":[["431c8daa.d19fec"]]},{"id":"ee09b910.ed87d8","type":"http in","z":"e8108a8b.15e968","name":"","url":"/update","method":"put","swaggerDoc":"","x":150,"y":400,"wires":[["c90a797a.fc4c5"]]},{"id":"74757743.8ce56","type":"http response","z":"e8108a8b.15e968","name":"","x":1490,"y":400,"wires":[]},{"id":"fb3f3526.947a98","type":"function","z":"e8108a8b.15e968","name":"update request","func":"/*\nmsg.result correspond à l'objet mis à jour,\nle delete permet de supprimer la propriété\n_id de l'objet, en effet l'_id est géré directement\npar le noued OjectId\npour la requète update  \non doit fournir un tableau \n[\n<query>,\n<valeur mises à jour>\n]\n\nici ce sera de la forme:\n[\n    {_id:ObjectId(\"xxx\")},\n    {\"nom\": \"toto\", \"prenom\": \"tutu\", \n        \"immatriculation\": \"AB123CD\", \n        \"heure\": null, \"minute\": null\n    }\n]\n*/\nmsg.result=msg.req.body;\ndelete msg.req.body._id;\nmsg.payload=[\n   msg.payload,\n   msg.req.body\n    ];\nreturn msg;\n\n","outputs":"1","noerr":0,"x":640,"y":400,"wires":[["a03417e8.06f408"]]},{"id":"c90a797a.fc4c5","type":"function","z":"e8108a8b.15e968","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":400,"wires":[["665d9c17.5e1834"]]},{"id":"665d9c17.5e1834","type":"objectid","z":"e8108a8b.15e968","name":"","x":480,"y":400,"wires":[["fb3f3526.947a98"]]},{"id":"e30d48d9.96b85","type":"template","z":"e8108a8b.15e968","name":"Web Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n                    fields: [\n                        { title:\"Last name\", name: \"last\", type: \"text\", width: 50 },\n                        { title:\"First name\", name: \"first\", type: \"text\", width: 50 },\n                        { title:\"Title\", name: \"title\", type: \"text\", width: 50 },\n                        { title:\"Hour\", name: \"hour\", type:\"number\", width: 25},\n                        { title:\"Minute\", align:\"left\",  name: \"minute\", type:\"number\" , width: 25},\n                        { type: \"control\" }\n                    ],\n               \n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":1320,"y":320,"wires":[["eb148960.31f218"]]},{"id":"74027b92.511b9c","type":"http in","z":"e8108a8b.15e968","name":"","url":"/plates","method":"get","swaggerDoc":"","x":150,"y":320,"wires":[["f8dfa0f9.43a0e"]]},{"id":"eb148960.31f218","type":"http response","z":"e8108a8b.15e968","name":"","x":1490,"y":320,"wires":[]},{"id":"431c8daa.d19fec","type":"json","z":"e8108a8b.15e968","name":"","x":1170,"y":320,"wires":[["e30d48d9.96b85"]]},{"id":"2a7e48f7.89751","type":"function","z":"e8108a8b.15e968","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":400,"wires":[["74757743.8ce56"]]},{"id":"bef93e35.70e958","type":"http response","z":"e8108a8b.15e968","name":"","x":1490,"y":440,"wires":[]},{"id":"1996e7aa.bb453","type":"http in","z":"e8108a8b.15e968","name":"","url":"/insert","method":"post","swaggerDoc":"","x":150,"y":440,"wires":[["859c3b25.5cd9e"]]},{"id":"fdd83b8f.2c8f4","type":"http in","z":"e8108a8b.15e968","name":"","url":"/delete","method":"delete","swaggerDoc":"","x":160,"y":480,"wires":[["fb44da5d.91223"]]},{"id":"fb44da5d.91223","type":"function","z":"e8108a8b.15e968","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["254f6291.518afe"]]},{"id":"254f6291.518afe","type":"objectid","z":"e8108a8b.15e968","name":"","x":520,"y":480,"wires":[["f1b67002.04963"]]},{"id":"dfe6e33b.f6464","type":"http response","z":"e8108a8b.15e968","name":"","x":1490,"y":480,"wires":[]},{"id":"f00fe46e.d3ad48","type":"function","z":"e8108a8b.15e968","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":440,"wires":[["bef93e35.70e958"]]},{"id":"6e2ba630.ae48d8","type":"comment","z":"e8108a8b.15e968","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"last\": \"Kowalski\",\n    \"first\": \"Jan\",\n    \"Title\": \"Zabawa\",\n    \"hour\": \"13\",\n    \"minute\": \"30\"\n}\n```\n\n{ title:\"Last name\", name: \"last\", type: \"text\", width: 50 },\n{ title:\"First name\", name: \"first\", type: \"text\", width: 50 },\n{ title:\"Title\", name: \"Title\", type: \"text\", width: 50 },\n{ title:\"Hour\", name: \"hour\", type:\"number\", width: 25},\n{ title:\"Minute\", align:\"left\",  name: \"minute\", type:\"number\" , width: 25},\n{ type: \"control\" }","x":680,"y":20,"wires":[]},{"id":"497b6774.35ba2","type":"comment","z":"e8108a8b.15e968","name":"node-red-contrib-objectid","info":"","x":160,"y":40,"wires":[]},{"id":"b04e8dc9.0f93e8","type":"comment","z":"e8108a8b.15e968","name":"node-red-contrib-mongodb2","info":"","x":170,"y":80,"wires":[]},{"id":"301e9d38.33d662","type":"http in","z":"e8108a8b.15e968","name":"","url":"/selectall","method":"get","upload":false,"swaggerDoc":"","x":160,"y":360,"wires":[["2a0f67e0.c287d8"]]},{"id":"5f04dd26.9eec04","type":"http response","z":"e8108a8b.15e968","name":"","x":1490,"y":360,"wires":[]},{"id":"5a7dd59d.275f74","type":"json","z":"e8108a8b.15e968","name":"","x":1350,"y":360,"wires":[["5f04dd26.9eec04"]]},{"id":"2a0f67e0.c287d8","type":"mongodb2 in","z":"e8108a8b.15e968","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"find.toArray","x":920,"y":360,"wires":[["5a7dd59d.275f74"]]},{"id":"a03417e8.06f408","type":"mongodb2 in","z":"e8108a8b.15e968","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"update","x":940,"y":400,"wires":[["2a7e48f7.89751"]]},{"id":"859c3b25.5cd9e","type":"mongodb2 in","z":"e8108a8b.15e968","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"insert","x":900,"y":440,"wires":[["f00fe46e.d3ad48"]]},{"id":"f1b67002.04963","type":"mongodb2 in","z":"e8108a8b.15e968","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"deleteOne","x":950,"y":480,"wires":[["dfe6e33b.f6464"]]},{"id":"fe269ad6.46c07","type":"mongodb2 in","z":"e8108a8b.15e968","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"insertOne","x":950,"y":560,"wires":[["3302d815.703df"]]},{"id":"5b5e022.dbee7fc","type":"http in","z":"e8108a8b.15e968","name":"","url":"/pop","method":"get","upload":false,"swaggerDoc":"","x":140,"y":560,"wires":[["6b0e5d48.d6e6f4"]]},{"id":"6b0e5d48.d6e6f4","type":"function","z":"e8108a8b.15e968","name":"payload","func":"\nmsg = {\n    \"req\":msg.req,\n    \"res\":msg.res,\n    payload:{\n    \"last\": \"Kowalski\",\n    \"first\": \"Jan\",\n    \"title\": \"Zabawa\",\n    \"hour\": \"13\",\n    \"minute\": \"30\"\n}}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["fe269ad6.46c07"]]},{"id":"3302d815.703df","type":"http response","z":"e8108a8b.15e968","name":"","x":1490,"y":560,"wires":[]},{"id":"69f3d877.e195f8","type":"http in","z":"e8108a8b.15e968","name":"","url":"/env","method":"get","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["acf6983b.262ff8"]]},{"id":"47e3ab8.e3122d4","type":"template","z":"e8108a8b.15e968","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <div align=\"center\">\n        <p>DB_NAME: {{ payload.DB_NAME }}</p>\n        <p>DB_URL: {{ payload.DB_URL }}</p>\n        <p>DB_COLLECTION: {{ payload.DB_COLLECTION }}</p>\n</div>\n    </body>\n</html>","x":1350,"y":260,"wires":[["54c2d93c.f5afc8"]]},{"id":"54c2d93c.f5afc8","type":"http response","z":"e8108a8b.15e968","name":"","statusCode":"","headers":{},"x":1490,"y":260,"wires":[]},{"id":"acf6983b.262ff8","type":"change","z":"e8108a8b.15e968","name":"","rules":[{"t":"set","p":"payload.DB_NAME","pt":"msg","to":"DB_NAME","tot":"env"},{"t":"set","p":"payload.DB_URL","pt":"msg","to":"DB_URL","tot":"env"},{"t":"set","p":"payload.DB_COLLECTION","pt":"msg","to":"DB_COLLECTION","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":260,"wires":[["47e3ab8.e3122d4"]]},{"id":"f828a586.7ca7b","type":"http in","z":"e8108a8b.15e968","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":130,"y":200,"wires":[["721eacd9.7bf3fc"]]},{"id":"3a89ec9f.582544","type":"http response","z":"e8108a8b.15e968","name":"","statusCode":"","headers":{},"x":1490,"y":200,"wires":[]},{"id":"721eacd9.7bf3fc","type":"template","z":"e8108a8b.15e968","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <div align=\"center\">\n        <p><a href={{host}}>GET /</a> </p>\n        <p><a href={{host}}/plates>GET /plates</a> </p>\n        <p><a href={{host}}/selectall>GET /selectall</a> </p>\n        <p><a href={{host}}/update>PUT /update</a> </p>\n        <p><a href={{host}}/insert>POST /insert</a> </p>\n        <p><a href={{host}}/delete<>DELETE /delete</a> </p>\n        <p><a href={{host}}/pop>GET /pop</a> </p>\n        <p><a href={{host}}/env>GET /env</a> </p>\n        </div>\n    </body>\n</html>","x":870,"y":200,"wires":[["3a89ec9f.582544"]]},{"id":"bab4458f.3a734","type":"http in","z":"660d3a42.58100c","name":"","url":"/mongo/env","method":"get","upload":false,"swaggerDoc":"","x":160,"y":340,"wires":[["e9c417f1.3aadf"]]},{"id":"b2b44763.fad63","type":"mongodb2 in","z":"660d3a42.58100c","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"find.toArray","x":980,"y":400,"wires":[["e39a3f1e.6f502"]]},{"id":"1086ccde.71b623","type":"http in","z":"660d3a42.58100c","name":"","url":"/mongo/update","method":"put","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["679ff3b1.6b3294"]]},{"id":"a798b94c.c142e","type":"http response","z":"660d3a42.58100c","name":"","x":1550,"y":480,"wires":[]},{"id":"66a5b8a4.7b1a","type":"function","z":"660d3a42.58100c","name":"update request","func":"/*\nmsg.result correspond à l'objet mis à jour,\nle delete permet de supprimer la propriété\n_id de l'objet, en effet l'_id est géré directement\npar le noued OjectId\npour la requète update  \non doit fournir un tableau \n[\n<query>,\n<valeur mises à jour>\n]\n\nici ce sera de la forme:\n[\n    {_id:ObjectId(\"xxx\")},\n    {\"nom\": \"toto\", \"prenom\": \"tutu\", \n        \"immatriculation\": \"AB123CD\", \n        \"heure\": null, \"minute\": null\n    }\n]\n*/\nmsg.result=msg.req.body;\ndelete msg.req.body._id;\nmsg.payload=[\n   msg.payload,\n   msg.req.body\n    ];\nreturn msg;\n\n","outputs":"1","noerr":0,"x":700,"y":480,"wires":[["6babd653.7db3d8"]]},{"id":"679ff3b1.6b3294","type":"function","z":"660d3a42.58100c","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["7cc41740.610c8"]]},{"id":"7cc41740.610c8","type":"objectid","z":"660d3a42.58100c","name":"","x":540,"y":480,"wires":[["66a5b8a4.7b1a"]]},{"id":"ed5dfeee.bb991","type":"template","z":"660d3a42.58100c","name":"Web Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <title>Licence Plate</title>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n\n    <script type=\"text/javascript\">\n        $(function () {\n            var db = {{#payload}}{{{.}}}{{/payload}};\n                $(\"#jsgrid\").jsGrid({\n                    width: \"100%\",\n                    inserting: true,\n                    editing: true,\n                    sorting: true,\n                    paging: true,\n\n                    data: db,\n\n                    fields: [\n                        { title:\"Last name\", name: \"last\", type: \"text\", width: 50 },\n                        { title:\"First name\", name: \"first\", type: \"text\", width: 50 },\n                        { title:\"Title\", name: \"title\", type: \"text\", width: 50 },\n                        { title:\"Hour\", name: \"hour\", type:\"number\", width: 25},\n                        { title:\"Minute\", align:\"left\",  name: \"minute\", type:\"number\" , width: 25},\n                        { type: \"control\" }\n                    ],\n               \n                    controller: {\n                        insertItem: function(item) {\n                            return $.ajax({\n                                type: \"POST\",\n                                url: \"/mongo/insert\",\n                                data: item\n                            });\n                        },\n                        updateItem: function(item) {\n                           return $.ajax({\n                                type: \"PUT\",\n                                url: \"/mongo/update\",\n                                data: item\n                            });\n                        },\n                        deleteItem: function(item) {\n                            return $.ajax({\n                                type: \"DELETE\",\n                                url: \"/mongo/delete\",\n                                data: item\n                            });\n                        }\n                    }   \n                });\n            });\n    \n  </script>\n</head>\n<body class=\"container\">\n    <section class=\"row\">\n        \n        <div class=\"col-md-6\"></div>\n        <div class=\"col-md-6\" id=\"jsgrid\">\n        </div>\n    </section>\n</body>\n</html>\n\n","x":1380,"y":400,"wires":[["aed0cf85.39cb48"]]},{"id":"117e6270.deee96","type":"http in","z":"660d3a42.58100c","name":"","url":"/mongo/plates","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["b2b44763.fad63"]]},{"id":"aed0cf85.39cb48","type":"http response","z":"660d3a42.58100c","name":"","x":1550,"y":400,"wires":[]},{"id":"e39a3f1e.6f502","type":"json","z":"660d3a42.58100c","name":"","x":1230,"y":400,"wires":[["ed5dfeee.bb991"]]},{"id":"5a977d31.a76c1c","type":"function","z":"660d3a42.58100c","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":480,"wires":[["a798b94c.c142e"]]},{"id":"e700e2b9.8233c8","type":"http response","z":"660d3a42.58100c","name":"","x":1550,"y":520,"wires":[]},{"id":"20daf40b.c6f16c","type":"http in","z":"660d3a42.58100c","name":"","url":"/mongo/insert","method":"post","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["69e06502.31074c"]]},{"id":"9562bdff.91e568","type":"http in","z":"660d3a42.58100c","name":"","url":"/mongo/delete","method":"delete","upload":false,"swaggerDoc":"","x":180,"y":560,"wires":[["3e46db6e.ed3e44"]]},{"id":"3e46db6e.ed3e44","type":"function","z":"660d3a42.58100c","name":"extract _id","func":"msg._id=msg.payload._id;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["a8888127.5c7718"]]},{"id":"a8888127.5c7718","type":"objectid","z":"660d3a42.58100c","name":"","x":580,"y":560,"wires":[["94c18a08.604fc"]]},{"id":"e09c2816.542c1","type":"http response","z":"660d3a42.58100c","name":"","x":1550,"y":560,"wires":[]},{"id":"a1b5e0ce.dc35a8","type":"function","z":"660d3a42.58100c","name":"callback response","func":"/*\npour que la jsGrid soit rafraichie, \nil faut lui envoyer l'objet qui a été mis à jour\n*/\nmsg.payload=msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":520,"wires":[["e700e2b9.8233c8"]]},{"id":"b02d412f.056ce","type":"comment","z":"660d3a42.58100c","name":"database collection information","info":"The collection is named LicensePlate. \nEach document format is :\n```JavaScript\n{\n    \"_id\": ObjectID(\"585a4732ac11400192a60b85\"),\n    \"last\": \"Kowalski\",\n    \"first\": \"Jan\",\n    \"Title\": \"Zabawa\",\n    \"hour\": \"13\",\n    \"minute\": \"30\"\n}\n```\n\n{ title:\"Last name\", name: \"last\", type: \"text\", width: 50 },\n{ title:\"First name\", name: \"first\", type: \"text\", width: 50 },\n{ title:\"Title\", name: \"Title\", type: \"text\", width: 50 },\n{ title:\"Hour\", name: \"hour\", type:\"number\", width: 25},\n{ title:\"Minute\", align:\"left\",  name: \"minute\", type:\"number\" , width: 25},\n{ type: \"control\" }","x":740,"y":100,"wires":[]},{"id":"476332d7.4a2504","type":"comment","z":"660d3a42.58100c","name":"node-red-contrib-objectid","info":"","x":220,"y":120,"wires":[]},{"id":"ed270573.e196e","type":"comment","z":"660d3a42.58100c","name":"node-red-contrib-mongodb2","info":"","x":230,"y":160,"wires":[]},{"id":"12d9343a.f49844","type":"http in","z":"660d3a42.58100c","name":"","url":"/mongo/selectall","method":"get","upload":false,"swaggerDoc":"","x":180,"y":440,"wires":[["1e071165.d0ebef"]]},{"id":"e265871d.7a49c","type":"http response","z":"660d3a42.58100c","name":"","x":1550,"y":440,"wires":[]},{"id":"af205ff8.8cbe08","type":"json","z":"660d3a42.58100c","name":"","x":1410,"y":440,"wires":[["e265871d.7a49c"]]},{"id":"1e071165.d0ebef","type":"mongodb2 in","z":"660d3a42.58100c","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"find.toArray","x":980,"y":440,"wires":[["af205ff8.8cbe08"]]},{"id":"6babd653.7db3d8","type":"mongodb2 in","z":"660d3a42.58100c","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"update","x":1000,"y":480,"wires":[["5a977d31.a76c1c"]]},{"id":"69e06502.31074c","type":"mongodb2 in","z":"660d3a42.58100c","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"insert","x":960,"y":520,"wires":[["a1b5e0ce.dc35a8"]]},{"id":"94c18a08.604fc","type":"mongodb2 in","z":"660d3a42.58100c","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"deleteOne","x":1010,"y":560,"wires":[["e09c2816.542c1"]]},{"id":"ad1b1dd1.460318","type":"mongodb2 in","z":"660d3a42.58100c","service":"_ext_","configNode":"99dd489a.f90b3","name":"","collection":"${DB_COLLECTION}","operation":"insertOne","x":1010,"y":640,"wires":[["7ea01069.08779"]]},{"id":"1ba0663a.290d22","type":"http in","z":"660d3a42.58100c","name":"","url":"/mongo/pop","method":"get","upload":false,"swaggerDoc":"","x":160,"y":640,"wires":[["3beb6182.272b9e"]]},{"id":"3beb6182.272b9e","type":"function","z":"660d3a42.58100c","name":"payload","func":"\nmsg = {\n    \"req\":msg.req,\n    \"res\":msg.res,\n    payload:{\n    \"last\": \"Kowalski\",\n    \"first\": \"Jan\",\n    \"title\": \"Zabawa\",\n    \"hour\": \"13\",\n    \"minute\": \"30\"\n}}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":640,"wires":[["ad1b1dd1.460318"]]},{"id":"7ea01069.08779","type":"http response","z":"660d3a42.58100c","name":"","x":1550,"y":640,"wires":[]},{"id":"7d21eb45.f0eb14","type":"template","z":"660d3a42.58100c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <div align=\"center\">\n        <p>DB_NAME: {{ payload.DB_NAME }}</p>\n        <p>DB_URL: {{ payload.DB_URL }}</p>\n        <p>DB_COLLECTION: {{ payload.DB_COLLECTION }}</p>\n        <p>REDIS_URL: {{ payload.REDIS_URL }}</p>\n        \n</div>\n    </body>\n</html>","x":1410,"y":340,"wires":[["cacffe66.ae89b8"]]},{"id":"cacffe66.ae89b8","type":"http response","z":"660d3a42.58100c","name":"","statusCode":"","headers":{},"x":1550,"y":340,"wires":[]},{"id":"e9c417f1.3aadf","type":"change","z":"660d3a42.58100c","name":"","rules":[{"t":"set","p":"payload.DB_NAME","pt":"msg","to":"DB_NAME","tot":"env"},{"t":"set","p":"payload.DB_URL","pt":"msg","to":"DB_URL","tot":"env"},{"t":"set","p":"payload.DB_COLLECTION","pt":"msg","to":"DB_COLLECTION","tot":"env"},{"t":"set","p":"payload.REDIS_URL","pt":"msg","to":"REDIS_URL","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":340,"wires":[["7d21eb45.f0eb14"]]},{"id":"d3560d38.f560a8","type":"http in","z":"660d3a42.58100c","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["a2c4edf5.6f94c8"]]},{"id":"d681fbaf.97d17","type":"http response","z":"660d3a42.58100c","name":"","statusCode":"","headers":{},"x":1550,"y":280,"wires":[]},{"id":"a2c4edf5.6f94c8","type":"template","z":"660d3a42.58100c","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <div align=\"center\">\n        <p><a href={{host}}>GET /</a> </p>\n        <p><a href={{host}}/mongo/plates>GET /mongo/plates</a> </p>\n        <p><a href={{host}}/mongo/selectall>GET /mongo/selectall</a> </p>\n        <p><a href={{host}}/mongo/update>PUT /mongo/update</a> </p>\n        <p><a href={{host}}/mongo/insert>POST /mongo/insert</a> </p>\n        <p><a href={{host}}/mongo/delete<>DELETE /mongo/delete</a> </p>\n        <p><a href={{host}}/mongo/pop>GET /mongo/pop</a> </p>\n        <p><a href={{host}}/mongo/env>GET /mongo/env</a> </p>\n        <p>--------------------</p>\n        <p><a href={{host}}/redis/form>GET /redis/form</a> </p>\n        \n        \n        \n        </div>\n    </body>\n</html>","x":930,"y":280,"wires":[["d681fbaf.97d17"]]},{"id":"797c8dbd.6efebc","type":"http in","z":"65331cd1.56011c","name":"","url":"/redis/form","method":"get","upload":false,"swaggerDoc":"","x":270,"y":140,"wires":[["14baa78b.cdabf8"]]},{"id":"af399b88.816ec8","type":"http response","z":"65331cd1.56011c","name":"","statusCode":"","headers":{},"x":1210,"y":140,"wires":[]},{"id":"14baa78b.cdabf8","type":"template","z":"65331cd1.56011c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n<title>Space-O | Ajax submit form</title>\n</head>\n<body>\n<div align=\"center\">\n<h1>jQuery post form data using .ajax() method</h1>\n<!-- our form -->\n<form id='userForm'>\n<div><input type='text' name='name' placeholder='Name' /></div>\n<div><input type='text' name='email' placeholder='Email' /></div>\n<div><input type='text' name='number' placeholder='Mobile Number' /></div>\n<div><input type='submit' value='Submit' /></div>\n</form>\n\n<style type=\"text/css\">\ntable {\nborder-collapse: collapse;\n}\n\ntable, th, td {\nborder: 1px solid black;\n}\n\n</style>\n<!-- where the response will be displayed -->\n<div id='response'></div>\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js \"></script>\n<script>\n$(document).ready(function(){\n$('#userForm').submit(function(){\n\n// show that something is loading\n$('#response').html(\"<b>Loading response...</b>\");\n\n// Call ajax for pass data to other place\n$.ajax({\ntype: 'POST',\nurl: {{host}}'/redis/postform',\ndata: $(this).serialize() // getting filed value in serialize form\n})\n.done(function(data){ // if getting done then call.\n\n// show the response\n$('#response').html(data);\n\n})\n.fail(function() { // if fail then getting message\n\n// just in case posting your form failed\nalert( \"Posting failed.\" );\n\n});\n\n// to prevent refreshing the whole page page\nreturn false;\n\n});\n});\n</script>\n</div>\n</body>\n</html>","output":"str","x":660,"y":140,"wires":[["af399b88.816ec8"]]},{"id":"9ab614ce.7b239","type":"http in","z":"65331cd1.56011c","name":"","url":"/redis/postform","method":"post","upload":false,"swaggerDoc":"","x":240,"y":220,"wires":[["c852d00f.87258"]]},{"id":"908303.79b01d","type":"http response","z":"65331cd1.56011c","name":"","statusCode":"","headers":{},"x":1330,"y":220,"wires":[]},{"id":"c852d00f.87258","type":"function","z":"65331cd1.56011c","name":"","func":"var key = Date.now()\nmsg.key = key\nmsg.payload = [key, JSON.stringify(msg.payload)]\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["553051ac.465fc8","6540a1ef.b21d2","22769d34.1d7ed2"]]},{"id":"553051ac.465fc8","type":"redis-command","z":"65331cd1.56011c","server":"ccaf0224.cb61f","command":"set","name":"","topic":"","params":"[]","paramsType":"json","payloadType":"json","block":false,"x":560,"y":220,"wires":[[]]},{"id":"849ec9fe.f9d53","type":"redis-command","z":"65331cd1.56011c","server":"ccaf0224.cb61f","command":"getset","name":"","topic":"","params":"{\"maxRetriesPerRequest\":\"1000\"}","paramsType":"json","payloadType":"json","block":false,"x":950,"y":220,"wires":[["44baf5d2.208f44"]]},{"id":"6540a1ef.b21d2","type":"delay","z":"65331cd1.56011c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":280,"wires":[["e14d913a.89637"]]},{"id":"e14d913a.89637","type":"change","z":"65331cd1.56011c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"key","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"key","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":220,"wires":[["849ec9fe.f9d53"]]},{"id":"44baf5d2.208f44","type":"function","z":"65331cd1.56011c","name":"","func":"msg.payload =JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":220,"wires":[["ff806606.e190b8"]]},{"id":"ff806606.e190b8","type":"template","z":"65331cd1.56011c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <table>\n  <tr>\n    <th>Firstname</th>\n    <th>Lastname</th>\n    <th>Age</th>\n  </tr>\n  <tr>\n    <td>{{payload.name}}</td>\n    <td>{{payload.email}}</td>\n    <td>{{payload.number}}</td>\n  </tr>\n</table> ","output":"str","x":1200,"y":220,"wires":[["908303.79b01d"]]},{"id":"22769d34.1d7ed2","type":"debug","z":"65331cd1.56011c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":400,"wires":[]}]