OldProvisions/Node-red/e-Sprawozdania1/e-Sprawozdania1.json
[{"id":"d666315f.22b078","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7e163c90.1aa9ec","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fd419a7.148bb68","type":"create dataset","z":"d666315f.22b078","name":"","path":"test/iris.data","saveFolder":"test/datasets","saveName":"iris","input":"0,1,2,3","output":"4","trainingPartition":"","shuffle":true,"seed":"","x":360,"y":60,"wires":[["48e47fef.0a6068"]]},{"id":"699487d2.c55d98","type":"load dataset","z":"d666315f.22b078","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"train.csv","input":true,"output":true,"x":310,"y":180,"wires":[["626a4cb.34b9f34"],["67d45196.280a68"]]},{"id":"ae1a2030.d70f98","type":"inject","z":"d666315f.22b078","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["fd419a7.148bb68"]]},{"id":"1584177f.c713a1","type":"inject","z":"d666315f.22b078","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["699487d2.c55d98"]]},{"id":"9e9d497b.87dc58","type":"inject","z":"d666315f.22b078","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["d64df0a8.be151","caad246d.4d63d8"]]},{"id":"48e47fef.0a6068","type":"debug","z":"d666315f.22b078","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":60,"wires":[]},{"id":"67d45196.280a68","type":"debug","z":"d666315f.22b078","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":220,"wires":[]},{"id":"381cf3da.fc564c","type":"debug","z":"d666315f.22b078","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":140,"wires":[]},{"id":"1408ec95.383103","type":"predictor","z":"d666315f.22b078","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":570,"y":400,"wires":[["baf32c5f.f9a52"],["4912926e.af413c"]]},{"id":"626a4cb.34b9f34","type":"decision tree classifier","z":"d666315f.22b078","name":"decision tree classifier trainer","savePath":"test/models","saveName":"dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":560,"y":180,"wires":[["381cf3da.fc564c"],["67d45196.280a68"]]},{"id":"baf32c5f.f9a52","type":"assessment","z":"d666315f.22b078","name":"","score":"accuracy_score","x":610,"y":340,"wires":[["2a5414f5.110734"],["4912926e.af413c"]]},{"id":"d64df0a8.be151","type":"load dataset","z":"d666315f.22b078","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":310,"y":340,"wires":[["baf32c5f.f9a52"],["4912926e.af413c"]]},{"id":"caad246d.4d63d8","type":"load dataset","z":"d666315f.22b078","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":310,"y":460,"wires":[["1408ec95.383103"],["4912926e.af413c"]]},{"id":"4912926e.af413c","type":"debug","z":"d666315f.22b078","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":460,"wires":[]},{"id":"2a5414f5.110734","type":"debug","z":"d666315f.22b078","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810,"y":340,"wires":[]},{"id":"b617a17.d4d866","type":"predictor","z":"d666315f.22b078","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":470,"y":560,"wires":[["48e9f5de.f4da9c"],["495fdd9c.9c328c"]]},{"id":"48e9f5de.f4da9c","type":"mqtt out","z":"d666315f.22b078","name":"","topic":"predictions","qos":"","retain":"","broker":"7e163c90.1aa9ec","x":750,"y":520,"wires":[]},{"id":"495fdd9c.9c328c","type":"debug","z":"d666315f.22b078","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":600,"wires":[]},{"id":"f08eac2d.a8fec8","type":"mqtt in","z":"d666315f.22b078","name":"","topic":"classification","qos":"2","broker":"7e163c90.1aa9ec","x":160,"y":560,"wires":[["b617a17.d4d866"]]}]