OldProvisions/Node-red/NodeRedData/projects1/db-crud/flow.json
[
    {
        "id": "84528de1.e0a41",
        "type": "tab",
        "label": "jsGrid CRUD mysql",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bdd7a831cf7004f4",
        "type": "MySQLdatabase",
        "name": "",
        "host": "${MYSQL_HOST}",
        "port": "${MYSQL_PORT}",
        "db": "${MYSQL_DATABASE}",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "9ed50114.7a98a",
        "type": "http in",
        "z": "84528de1.e0a41",
        "name": "",
        "url": "/index",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "2345aa1d332bdbb8"
            ]
        ]
    },
    {
        "id": "13943d72.dc7ffb",
        "type": "http response",
        "z": "84528de1.e0a41",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "e85abd38.07593",
        "type": "http in",
        "z": "84528de1.e0a41",
        "name": "",
        "url": "/customer",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "a71858a.71b56a8"
            ]
        ]
    },
    {
        "id": "a71858a.71b56a8",
        "type": "function",
        "z": "84528de1.e0a41",
        "name": "SELECT *",
        "func": "//msg.topic=\"SELECT CONCAT('M00','',test.id) AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nmsg.topic=\"SELECT * FROM `customer` ORDER BY customer.id DESC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 340,
        "wires": [
            [
                "48e95a39.926984"
            ]
        ]
    },
    {
        "id": "cddcba84.105a9",
        "type": "http response",
        "z": "84528de1.e0a41",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 340,
        "wires": []
    },
    {
        "id": "d87027.14a20fd8",
        "type": "function",
        "z": "84528de1.e0a41",
        "name": "search-response",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 745,
        "y": 340,
        "wires": [
            [
                "f2787648.341ec"
            ]
        ]
    },
    {
        "id": "f2787648.341ec",
        "type": "json",
        "z": "84528de1.e0a41",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 340,
        "wires": [
            [
                "cddcba84.105a9"
            ]
        ]
    },
    {
        "id": "97a381.d3967c8",
        "type": "http in",
        "z": "84528de1.e0a41",
        "name": "",
        "url": "/customer",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "2dee7136.faf09e"
            ]
        ]
    },
    {
        "id": "ebaa0d7a.b64038",
        "type": "function",
        "z": "84528de1.e0a41",
        "name": "insert-response",
        "func": "msg.payload=msg.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 735,
        "y": 400,
        "wires": [
            [
                "fe4a5490.b89d7"
            ]
        ]
    },
    {
        "id": "2dee7136.faf09e",
        "type": "function",
        "z": "84528de1.e0a41",
        "name": "insert-query",
        "func": "msg.topic=\"INSERT INTO customer (Name, Address, Country, Phone, Created_on, Updated_on) VALUES ('\" + msg.payload.Name + \"','\" + msg.payload.Address + \"','\" + msg.payload.Country + \"','\" + msg.payload.Phone + \"',CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 400,
        "wires": [
            [
                "d78aa52.32dfd58"
            ]
        ]
    },
    {
        "id": "fe4a5490.b89d7",
        "type": "http response",
        "z": "84528de1.e0a41",
        "name": "",
        "x": 1090,
        "y": 400,
        "wires": []
    },
    {
        "id": "a6f7fe9b.813f2",
        "type": "http in",
        "z": "84528de1.e0a41",
        "name": "",
        "url": "/customer/:Id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "f7d600e6.948618"
            ]
        ]
    },
    {
        "id": "fe454c8.8ebd8b",
        "type": "function",
        "z": "84528de1.e0a41",
        "name": "delete-response",
        "func": "msg.payload=msg.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 735,
        "y": 520,
        "wires": [
            [
                "95a5ed4c.fe701"
            ]
        ]
    },
    {
        "id": "f7d600e6.948618",
        "type": "function",
        "z": "84528de1.e0a41",
        "name": "delete-query",
        "func": "msg.topic=\"DELETE FROM customer WHERE Id=\" + msg.payload.Id + \";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 520,
        "wires": [
            [
                "1047b884.fe0acf"
            ]
        ]
    },
    {
        "id": "95a5ed4c.fe701",
        "type": "http response",
        "z": "84528de1.e0a41",
        "name": "",
        "x": 1090,
        "y": 520,
        "wires": []
    },
    {
        "id": "13bdec6.8bfda14",
        "type": "http in",
        "z": "84528de1.e0a41",
        "name": "",
        "url": "/customer/:Id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "e80fc5f8.820068"
            ]
        ]
    },
    {
        "id": "c347981d.e2eaf8",
        "type": "function",
        "z": "84528de1.e0a41",
        "name": "update-response",
        "func": "msg.payload=msg.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 745,
        "y": 460,
        "wires": [
            [
                "3603db2c.035024"
            ]
        ]
    },
    {
        "id": "e80fc5f8.820068",
        "type": "function",
        "z": "84528de1.e0a41",
        "name": "update-query",
        "func": "msg.topic=\"UPDATE customer SET Name='\" + msg.payload.Name + \"', Address='\" + msg.payload.Address + \"', Country='\" + msg.payload.Country + \"', Phone='\" + msg.payload.Phone + \"', Updated_on = CURRENT_TIMESTAMP WHERE id='\" + msg.payload.id + \"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 460,
        "wires": [
            [
                "46a02e7b.f6b1d8"
            ]
        ]
    },
    {
        "id": "3603db2c.035024",
        "type": "http response",
        "z": "84528de1.e0a41",
        "name": "",
        "x": 1090,
        "y": 460,
        "wires": []
    },
    {
        "id": "23622df1.e166b2",
        "type": "comment",
        "z": "84528de1.e0a41",
        "name": "https://flows.nodered.org/flow/9a57908f031def68946f6bdf4cfb94a4",
        "info": "",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "48e95a39.926984",
        "type": "mysql",
        "z": "84528de1.e0a41",
        "mydb": "bdd7a831cf7004f4",
        "name": "database",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "d87027.14a20fd8"
            ]
        ]
    },
    {
        "id": "d78aa52.32dfd58",
        "type": "mysql",
        "z": "84528de1.e0a41",
        "mydb": "bdd7a831cf7004f4",
        "name": "database",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "ebaa0d7a.b64038"
            ]
        ]
    },
    {
        "id": "46a02e7b.f6b1d8",
        "type": "mysql",
        "z": "84528de1.e0a41",
        "mydb": "bdd7a831cf7004f4",
        "name": "database",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "c347981d.e2eaf8"
            ]
        ]
    },
    {
        "id": "1047b884.fe0acf",
        "type": "mysql",
        "z": "84528de1.e0a41",
        "mydb": "bdd7a831cf7004f4",
        "name": "database",
        "x": 550,
        "y": 520,
        "wires": [
            [
                "fe454c8.8ebd8b"
            ]
        ]
    },
    {
        "id": "9bb37ef104e56aac",
        "type": "comment",
        "z": "84528de1.e0a41",
        "name": "node-red-node-mysql",
        "info": "",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "1c37dc0513e8b359",
        "type": "inject",
        "z": "84528de1.e0a41",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "890c131d364989ed"
            ]
        ]
    },
    {
        "id": "4228598621a58dda",
        "type": "mysql",
        "z": "84528de1.e0a41",
        "mydb": "bdd7a831cf7004f4",
        "name": "database",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "6278b8d6a91f0063"
            ]
        ]
    },
    {
        "id": "890c131d364989ed",
        "type": "function",
        "z": "84528de1.e0a41",
        "name": "CREATE TABLE",
        "func": "msg.topic=\"CREATE TABLE IF NOT EXISTS `customer` (`Id` int(11) NOT NULL AUTO_INCREMENT, `Name` varchar(255) NOT NULL, `Address` varchar(255) NOT NULL, `Country` varchar(100) NOT NULL, `Phone` varchar(10) NOT NULL, `Created_on` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP, `Updated_on` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP, PRIMARY KEY (`Id`)) ENGINE=InnoDB DEFAULT CHARSET=UTF16 AUTO_INCREMENT=1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "4228598621a58dda"
            ]
        ]
    },
    {
        "id": "4358c6ed47969ba0",
        "type": "inject",
        "z": "84528de1.e0a41",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Ala\",\"lastname\":\"Kora\",\"code\":\"asd\",\"married\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "fbdbcc14713a5d79"
            ]
        ]
    },
    {
        "id": "fbdbcc14713a5d79",
        "type": "function",
        "z": "84528de1.e0a41",
        "name": "INSERT",
        "func": "msg.topic=\"insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Benito Hocking', '616 Merry Center', 'Poland', '7017896120', '2021-03-09 17:44:27', '2021-05-15 12:43:37'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Carline Riby', '01692 Sloan Court', 'Russia', '6873264080', '2022-01-21 15:06:48', '2022-02-05 03:34:03'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Kristofor Gingold', '2789 Old Gate Center', 'Indonesia', '4126426155', '2021-07-05 19:22:24', '2021-09-13 17:56:56'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Julissa McEntee', '72 Spohn Alley', 'Philippines', '9681288049', '2021-07-30 22:09:29', '2021-09-22 07:48:32'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Tamiko Klebes', '468 Hanson Point', 'China', '4035558796', '2021-11-19 00:50:34', '2021-11-11 03:27:58'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Tani Brion', '6 Mcbride Place', 'Canada', '5244941406', '2022-01-14 16:22:17', '2021-04-16 15:06:00'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Corbett McClymont', '454 American Trail', 'South Korea', '5728814135', '2021-11-11 08:49:31', '2021-04-16 14:51:23'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Aldous Torbett', '120 Sundown Hill', 'Philippines', '5091960732', '2021-12-12 16:43:17', '2021-07-07 08:59:29'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Vere Meo', '47 5th Court', 'Philippines', '5189777750', '2021-06-04 20:18:43', '2021-11-27 23:49:01'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Urbain Jessel', '9 Holmberg Lane', 'Indonesia', '5269193979', '2021-05-10 13:29:48', '2021-04-28 05:24:55'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Michele Connold', '69 Moland Street', 'Indonesia', '3664409654', '2021-06-26 08:20:49', '2021-10-02 23:05:52'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Marthena Leechman', '6 Alpine Park', 'Greece', '7165915332', '2021-07-30 10:36:22', '2022-02-05 10:11:54'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Anatollo Beaument', '98550 Graceland Lane', 'Philippines', '8646151985', '2021-12-11 02:05:36', '2021-05-14 06:59:51'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Carolina Shepherdson', '31820 Browning Circle', 'Colombia', '2231785168', '2021-11-20 22:53:16', '2022-01-15 19:17:13'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Tiff Widmore', '4 Grayhawk Way', 'Chile', '2355751342', '2021-07-26 00:17:48', '2021-03-05 02:40:33'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Bran Florio', '6166 Sunnyside Park', 'Poland', '3232841926', '2021-11-03 20:32:49', '2021-04-14 00:21:23'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Emlyn Borthe', '5 Coolidge Plaza', 'China', '2024833812', '2021-09-16 05:00:03', '2021-04-29 11:04:34'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Larine Murthwaite', '16 Derek Point', 'Czech Republic', '3748807470', '2021-09-24 12:51:01', '2021-12-09 17:50:48'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Morgan Beaston', '41 Novick Terrace', 'New Zealand', '2234172815', '2021-05-21 20:51:14', '2021-07-14 00:07:10'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Ninnette Fritz', '23 Eastwood Pass', 'China', '8294882919', '2021-02-22 07:33:59', '2021-07-30 11:44:25'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Van Northcote', '7 Bultman Crossing', 'Indonesia', '7703319551', '2021-06-17 03:08:49', '2021-04-29 05:51:18'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Goldy Sherrock', '082 North Court', 'Russia', '5097539847', '2021-03-06 12:19:11', '2021-11-14 09:29:36'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Edouard Grandisson', '7256 Brown Hill', 'China', '9019022471', '2021-11-29 06:36:03', '2021-11-30 00:28:47'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Innis Pagan', '5967 Scoville Alley', 'Russia', '6391537678', '2022-01-29 02:31:26', '2022-01-02 09:26:32'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Brock Bunstone', '1198 Carey Trail', 'Indonesia', '5713024971', '2021-05-29 00:46:09', '2021-08-30 01:56:32'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Natalya Hartles', '36 Killdeer Point', 'China', '2114281426', '2021-10-21 18:11:06', '2021-12-03 22:28:53'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Lynnelle Heino', '14963 Birchwood Hill', 'Poland', '6535230167', '2021-06-21 20:24:36', '2022-01-02 05:07:18'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Graig Pennetta', '24687 Manley Way', 'Poland', '5032398297', '2021-04-15 01:24:10', '2021-11-12 16:34:16'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Andreana Baugh', '50821 7th Plaza', 'China', '5611528779', '2021-03-31 13:16:20', '2022-01-09 19:29:51'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Wileen Comolli', '57356 Becker Road', 'Laos', '9785539445', '2021-09-14 10:22:52', '2021-06-18 22:34:28'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Ilyssa Gook', '42710 Sundown Way', 'Nicaragua', '4144286385', '2021-11-02 07:07:31', '2021-04-09 12:09:44'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Susan Moynham', '0665 Arapahoe Parkway', 'Canada', '6989037752', '2021-06-16 01:03:06', '2021-03-19 00:43:00'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Hugo Quarterman', '54843 Pierstorff Road', 'Belarus', '3871552577', '2022-01-02 03:22:47', '2021-11-08 11:07:59'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Constantin Guye', '01381 Elmside Street', 'China', '5518201376', '2021-04-13 10:12:08', '2021-10-07 10:08:06'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Linnie Dougill', '9 Kedzie Terrace', 'Ukraine', '8959253126', '2021-04-28 13:54:07', '2021-07-21 20:43:18'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Findley Strickland', '89857 West Lane', 'South Korea', '8895366411', '2021-06-26 08:58:48', '2021-04-14 18:54:38'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Ali Jedrasik', '7 Maywood Point', 'Mauritius', '6543725795', '2021-06-14 07:29:00', '2021-03-31 19:44:43'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Gwendolen Marusic', '2 Longview Court', 'China', '6348377799', '2021-02-19 18:17:02', '2021-02-10 21:18:08'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Bax Boate', '90 Shasta Trail', 'Indonesia', '7184590744', '2021-06-28 20:42:49', '2021-07-23 14:19:19'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Trefor Ousley', '4 Pine View Hill', 'United States', '8089945908', '2021-05-11 20:34:18', '2021-12-01 20:16:47'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Mose Reijmers', '654 Mifflin Avenue', 'Czech Republic', '4861448023', '2021-07-11 06:12:38', '2021-09-24 15:27:24'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Rockey Basham', '37329 Ilene Crossing', 'France', '1635869524', '2021-04-02 03:55:13', '2021-04-24 03:35:19'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Noelyn Trattles', '62367 Kenwood Avenue', 'Brazil', '5003673283', '2021-03-13 16:43:20', '2021-08-12 18:22:24'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Ailee Parmiter', '9 Troy Terrace', 'China', '3372797601', '2021-08-01 10:42:27', '2021-06-26 20:47:05'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Essie McGeachey', '32438 Vermont Lane', 'Venezuela', '7582657452', '2022-01-17 02:54:52', '2021-12-28 19:36:46'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Beverlee Hopkyns', '8789 Farmco Terrace', 'Vietnam', '2274407868', '2021-02-20 20:53:36', '2022-02-03 18:18:45'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Leela Armatys', '30 Kinsman Pass', 'Czech Republic', '2294206711', '2021-11-20 03:10:31', '2022-01-31 23:49:52'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Rod Stoile', '72 Main Center', 'France', '1493636996', '2021-09-06 06:59:02', '2021-10-01 05:03:05'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Ira Liebrecht', '125 Gale Center', 'Guatemala', '4663073235', '2021-11-11 11:06:08', '2021-03-17 12:37:43'); insert into customer (Name, Address, Country, Phone, Created_on, Updated_on) values ('Catriona Extil', '093 Pankratz Crossing', 'Indonesia', '9005274600', '2021-07-05 16:40:20', '2021-08-14 12:39:00');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "327e1ba24af5d8a7"
            ]
        ]
    },
    {
        "id": "327e1ba24af5d8a7",
        "type": "mysql",
        "z": "84528de1.e0a41",
        "mydb": "bdd7a831cf7004f4",
        "name": "database",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "c140741510b73d4a"
            ]
        ]
    },
    {
        "id": "94f5144d308d7601",
        "type": "http in",
        "z": "84528de1.e0a41",
        "name": "",
        "url": "/insert",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "fbdbcc14713a5d79"
            ]
        ]
    },
    {
        "id": "c140741510b73d4a",
        "type": "function",
        "z": "84528de1.e0a41",
        "name": "insert-response",
        "func": "msg.payload=msg.result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 280,
        "wires": [
            [
                "a0a4aaecbbc6fad0"
            ]
        ]
    },
    {
        "id": "a0a4aaecbbc6fad0",
        "type": "http response",
        "z": "84528de1.e0a41",
        "name": "",
        "x": 1090,
        "y": 280,
        "wires": []
    },
    {
        "id": "e81847bb8cb6994c",
        "type": "template",
        "z": "84528de1.e0a41",
        "name": "web-template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n  <head>\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <title>jsGrid - Basic Scenario</title>\n    <style>\n      * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n      }\n      html {\n      height: 100%;\n      }\n      body {\n      height: 100%;\n      padding: 10px;\n      color: #262626;\n      font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;\n      font-size: 14px;\n      font-weight: 300;\n      }\n      h1 {\n      margin: 0 0 8px 0;\n      font-size: 24px;\n      font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;\n      font-weight: 300;\n      }\n      h2 {\n      margin: 16px 0 8px 0;\n      font-size: 18px;\n      font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;\n      font-weight: 300;\n      }\n      ul {\n      list-style: none;\n      }\n      a {\n      color: #2ba6cb;\n      text-decoration: none;\n      }\n      a:hover {\n      text-decoration: underline;\n      color: #258faf;\n      }\n      input, button, select {\n      font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;\n      font-weight: 300;\n      font-size: 14px;\n      padding: 2px;\n      }\n      .navigation {\n      width: 200px;\n      position: absolute;\n      top: 0;\n      bottom: 0;\n      left: 0;\n      padding: 10px;\n      border-right: 1px solid #e9e9e9;\n      }\n      .navigation li {\n      margin: 10px 0;\n      }\n      .demo-frame {\n      position: absolute;\n      top: 0;\n      right: 0;\n      bottom: 0;\n      left: 200px;\n      }\n      iframe[name='demo'] {\n      display: block;\n      width: 100%;\n      height: 100%;\n      border: none;\n      }\n    </style>\n    <link type=\"text/css\" rel=\"stylesheet\" href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css\" />\n    <link type=\"text/css\" rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css\" />\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js\"></script>\n    <script>\n      (     \n\n          function () {\n //       var hostPort = \"http://localhost:1880/customer\";\nvar hostPort = '{{{ host }}}'\n        var db = {\n          loadData: function (filter) {\n            var d = $.Deferred();\n            $.ajax({\n              type: \"GET\",\n              url: hostPort,\n\t\t\t  data: filter,\n              dataType: \"json\"\n            }).done(function (result) {\n           result = $.grep(result, function (customer) {return (!filter.Name || customer.Name.indexOf(filter.Name) > -1)&& (!filter.Address || customer.Address.indexOf(filter.Address) > -1)&& (!filter.Country || customer.Country.indexOf(filter.Country) > -1)&& (!filter.Phone || customer.Phone.indexOf(filter.Phone) > -1);});\n              d.resolve(result);\n            })\n      \n            return d.promise();\n          },\n      \n          insertItem: function (customer) {\n            return $.ajax({\n              type: \"POST\",\n              url: hostPort,\n              data: customer\n            });\n          },\n      \n          updateItem: function (customer) {\n      \n            return $.ajax({\n              type: \"PUT\",\n              url: hostPort + \"/\" + customer.Id,\n              data: customer\n      \n            });\n      \n          },\n      \n          deleteItem: function (customer) {\n            return $.ajax({\n              type: \"DELETE\",\n              url: hostPort + \"/\" + customer.Id,\n              data: customer\n            });\n          }\n        };\n      \n        window.db = db;\n      })();\n      \n      \t\n    </script>\n  </head>\n  <body>\n    <h1>Basic Scenario</h1>\n    <div id=\"jsGrid\"></div>\n    <script>\n      $(function () {\n          $(\"#jsGrid\").jsGrid({\n              height: \"70%\",\n              width: \"100%\",\n              filtering: true,\n              editing: true,\n              inserting: true,\n              sorting: true,\n              paging: true,\n              autoload: true,\n              pageSize: 15,\n              pageButtonCount: 5,\n              deleteConfirm: \"Do you really want to delete the customer?\",\n              controller: db,\n              fields: [\n                  { name: \"Id\", type: \"number\", visible: false },\n                  { name: \"Name\", type: \"text\", width: 80 },\n                  { name: \"Address\", type: \"text\", width: 80 },\n                  { name: \"Country\", type: \"text\", width: 30 },\n               { name: \"Phone\", type: \"text\", width: 20 },\n                  { type: \"control\" }\n              ]\n          });\n      \n      });\n    </script>\n  </body>\n</html>",
        "x": 540,
        "y": 140,
        "wires": [
            [
                "13943d72.dc7ffb"
            ]
        ]
    },
    {
        "id": "2345aa1d332bdbb8",
        "type": "change",
        "z": "84528de1.e0a41",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "REST_API_HOST",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "e81847bb8cb6994c"
            ]
        ]
    },
    {
        "id": "6278b8d6a91f0063",
        "type": "debug",
        "z": "84528de1.e0a41",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 220,
        "wires": []
    }
]